<app-search></app-search>
<section id="upload_contractor">
  <div class="container">
    <div class="row">
      <div class="col-sm-50">
        <app-upload-cv></app-upload-cv>
      </div>
      <div class="col-sm-50">
        <app-find-contractor></app-find-contractor>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-40 col-md-30">
        <app-contractor-services></app-contractor-services>
      </div>
      <div class="col-sm-60 col-md-70">
        <app-social-media></app-social-media>
      </div>
    </div>
  </div>
</section>
<app-ad-space></app-ad-space>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-60 col-md-70">
        <app-find-contract-hub></app-find-contract-hub>
      </div>
      <div class="col-sm-40 col-md-30">
        <app-latest-news></app-latest-news>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-35 col-md-30">
        <app-content-bottom-left-ads></app-content-bottom-left-ads>
      </div>
      <div class="col-sm-65 col-md-70">
        <app-content-bottom-right-ads></app-content-bottom-right-ads>
      </div>
    </div>
  </div>
</section>