<section id="min_height">
    <!--navigation top end-->
    <!--contractor login-->
    <div id="contractor-signup">
      <div class="container">
        <div class="row">
          <div class="col-sm-100">
		  <div class="contractor_signup">
              <h2>FAQs  <span></span></h2>
              <ul class="breadcomb">
                <li><a href="#">Home</a></li>
                <li class="right_arrow">></li>
                <li class="active">FAQs</li>
              </ul>
              
            </div>
			
            
          </div>
        </div>
      </div>
    </div>
    <!--contractor login end-->
	
	<div class="container">
<div class="panel-group trems_use_main signup_form_section privacy_policy_margin_bottom70" id="accordion">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          General
		  <span class="glyphicon glyphicon-minus"></span>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
       <div class="contract_faq_box">
	     <h5><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  I’ve forgotten my password, how do I log in?</h5>
		 <p>Please select the ‘Forgot Your Password’ link underneath the login module, then enter your email address and we will send you an email allowing you to reset your password. Select the link in the email and follow the instructions. Still having problems? Please <a href="javascript:void(0);" class="text_pink">get in touch.</a></p>
	   </div>
	   <div class="contract_faq_box">
	     <h5><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  How can I give ContractRecruit Feedback?</h5>
		 <p>We really appreciate feedback at ContractRecruit and anything that can make our service better for you we’d like to hear about! On most pages you’ll find a feedback tab on the left hand side of the page, please fill it out and send it off, we’ll do our utmost to act on your suggestions however big or small!</p>
	   </div>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Contractor
		   <span class="glyphicon glyphicon-plus"></span>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="contract_faq_box">
	     <h5><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="margin-bottom: 20px;">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle hover_text_pink" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Recruiter
		  <span class="glyphicon glyphicon-plus text_pink"></span>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
	    
	   <div class="contract_faq_box">
	     <h5 class="text_pink"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5 class="text_pink"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5 class="text_pink"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5 class="text_pink"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5 class="text_pink"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5 class="text_pink"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5 class="text_pink"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   <div class="contract_faq_box">
	     <h5 class="text_pink"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span>  What is ContractRecruit?</h5>
		 <p>ContractRecruit is a unique job board, specialising solely in IT Contract positions. Our site contains features unlike any other, designed with the Contractor in mind, to make the search for your next Contract easier than ever before.</p>
	   </div>
	   
   
	  </div>
    </div>
  </div>
</div>
</div>
</section>