<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-100">
          <div class="footer_social_right"> <span>WE ARE SOCIAL</span>
            <div class="footer_social_background"> 
              <a href="https://www.facebook.com/ContractRecruit/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
              <a href="https://plus.google.com/+ContractrecruitCoUkCR" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a> 
              <a href="https://www.linkedin.com/company/2600056?trk=tyah" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 

              <a href="https://www.youtube.com/user/ContractRecruit" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-100">
            <div class="copy_right"> &copy; <span>2017</span> ContractRecruit </div>
          </div>
        </div>
      </div>
    </div>
  </footer>