.contracting_right:hover .position_rotade span{
	    font-size: 24px;
    transition: all ease 0.2s;
}
.contracting_social a:hover{
	color: #333 !important;
	opacity: 1;
    -webkit-transition: all 0.1s ease 0s;
}