
          <div class="contracting_right">
            <p class="position_rotade"> <span>What do you do when</span> <br>
              <span> You’re not contracting? </span></p>
            <img src="./assets/images/contracting-right.png" alt="" title="" class="menu_bar img-responsive">
            <div class="contracting_contant">
              <p>Show us what you do when your not contracting to win an ultimate experience with ContractRecruit. Just upload an image or drop us a line on Twitter, Linkedin or Facebook with #WorkSmartPlayHard for your chance to win.</p>
              <div class="row">
                <div class="col-xs-30 col-sm-50">
                  <div class="contracting_social"> 
                    <a href="https://www.facebook.com/ContractRecruit/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                    <a href="https://twitter.com/contractrec" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                    <a href="https://www.linkedin.com/company/2600056?trk=tyah" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </div>
                </div>
                <div class="col-xs-70 col-sm-50">
                  <div class="worksmart_nev"><span>#</span>WorkSmart<span>PlayHard</span></div>
                </div>
              </div>
            </div>
          </div>
        