<div class="container">
  <div class="page_404_main">
  <div class="row table-cel">
    <div class="col-sm-13">
	<div class="page_404_left">
	<img src="./assets/images/logo-404.png" alt="ads" title="ads" class="img-responsive">
	</div>
	</div>
	<div class="col-sm-85 col-md-offset-2">
	  <div class="page_404_right">
	    <h1>Youve reached the end of the line</h1>
		<p>It looks like the page you were trying to find doesnt actually exist,<br>
		how bizarre! Please return to <a href="javascript:void(0)">Home</a> and try again.</p>
		
	  </div>
	</div>
  </div>
  </div>
</div>