<section>
  <div class="about_banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-100">
          <div id="contractor_about_us" class="contractor_signup">
            <h2 class="font_capitalizs">About <span>Us</span></h2>
            <ul class="breadcomb">
              <li><a href="javascript:void(0)">Home</a></li>
              <li class="right_arrow">&gt;</li>
              <li><a href="javascript:void(0)">Contractor </a></li>
              <li class="right_arrow">&gt;</li>
              <li class="active">About Us </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-100">
          <div class="contractor_about login_form_section">
            <p>Our Job Board is designed specifically
              <br> for IT Contractors by It Contractors</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="what_is_contractRecruit" id="contractrecurit">
    <div class="container">
      <div class="row">
        <div class="col-sm-30">
          <div class="roket" id="contractorroket"><img src="./assets/images/buster.png" alt="ads" title="ads" class="img-responsive"></div>
        </div>
        <div class="col-sm-70">
          <div class="what_is_right">
            <h2>WHat is contractRecruit?</h2>
            <p><span>Contract</span>Recruit is more than just a job board, we don’t just have the best IT Contract jobs in the UK, we are a community of IT professionals sharing advice and news.</p>
            <p><span>Our innovative application makes searching for IT Contracts, 
industry information and the best Contractor services easy.</span> </p>
            <a href="javascript:void(0)" class="btn-primary font_capitaliz hover_white_pluse posotion_margin_top10" routerLink="../../public/contractorSignup">SIGN UP NOW <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contractRecruit_slider">
    <h2>Why choose Contractrecruit?</h2>
    <div class="container">
      <swiper [config]="config">
        <div class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="row">
              <div class="col-sm-30 col-md-25 col-md-offset-5">
                <div class="left_icon">
                  <img src="./assets/images/contracthub-icon.png" alt="contracthub" title="contracthub" class="img-responsive">
                </div>
              </div>
              <div class="col-sm-70 col-md-offset-10 col-md-60">
                <div class="slider_right_part">
                  <h4>Contracthub</h4>
                  <p>Use our <strong>Contract</strong>Hub to find the latest industry news,
                    <br> advice on all aspects of contracting and the doorway to
                    <br> the best Contractor Services.</p>
                </div>
              </div>
            </div>
            <!-- <div class="bx-caption"><span>contracthub</span></div> -->
          </li>
          <li class="swiper-slide">
            <div class="row">
              <div class="col-sm-30 col-md-25 col-md-offset-5">
                <div class="left_icon">
                  <img src="./assets/images/ContractMap-icon.png" alt="ContractMap" title="ContractMap" class="img-responsive">
                </div>
              </div>
              <div class="col-sm-70 col-md-offset-10 col-md-60">
                <div class="slider_right_part">
                  <h4>ContractMap
</h4>
                  <p>Using our unique and innovative ContractMap you can
                    <br>set exactly where you are willing to travel and at what
                    <br> rates. Show recruiters where you want your next contract
                    <br> to be and at what rate.</p>
                </div>
              </div>
            </div>
            <!-- <div class="bx-caption"><span>ContractMap</span></div> -->
          </li>
          <li class="swiper-slide">
            <div class="row">
              <div class="col-sm-30 col-md-25 col-md-offset-5">
                <div class="left_icon">
                  <img src="./assets/images/ContractTimer-icon.png" alt="contracthub" title="contracthub" class="img-responsive">
                </div>
              </div>
              <div class="col-sm-70 col-md-offset-10 col-md-60">
                <div class="slider_right_part">
                  <h4>ContractTimer</h4>
                  <p>Save those unwanted calls by hiding your profile while in
                    <br>Contract, using our helpful <strong>Contract</strong>Timer you can set it
                    <br> live again when your Contract is nearing its end.</p>
                </div>
              </div>
            </div>
            <!-- <div class="bx-caption"><span>contracthub</span></div> -->
          </li>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </swiper>
      <!-- <ul class="bxslider">
        <li>
          <div class="row">
            <div class="col-sm-30 col-md-25 col-md-offset-5">
              <div class="left_icon">
                <img src="./assets/images/contracthub-icon.png" alt="contracthub" title="contracthub" class="img-responsive">
              </div>
            </div>
            <div class="col-sm-70 col-md-offset-10 col-md-60">
              <div class="slider_right_part">
                <h4>Contracthub</h4>
                <p>Use our <strong>Contract</strong>Hub to find the latest industry news,
                  <br> advice on all aspects of contracting and the doorway to
                  <br> the best Contractor Services.</p>
              </div>
            </div>
          </div>
          <div class="bx-caption"><span>contracthub</span></div>
        </li>
        <li>
          <div class="row">
            <div class="col-sm-30 col-md-25 col-md-offset-5">
              <div class="left_icon">
                <img src="./assets/images/ContractMap-icon.png" alt="ContractMap" title="ContractMap" class="img-responsive">
              </div>
            </div>
            <div class="col-sm-70 col-md-offset-10 col-md-60">
              <div class="slider_right_part">
                <h4>ContractMap
</h4>
                <p>Using our unique and innovative ContractMap you can
                  <br>set exactly where you are willing to travel and at what
                  <br> rates. Show recruiters where you want your next contract
                  <br> to be and at what rate.</p>
              </div>
            </div>
          </div>
          <div class="bx-caption"><span>ContractMap</span></div>
        </li>
        <li>
          <div class="row">
            <div class="col-sm-30 col-md-25 col-md-offset-5">
              <div class="left_icon">
                <img src="./assets/images/ContractTimer-icon.png" alt="contracthub" title="contracthub" class="img-responsive">
              </div>
            </div>
            <div class="col-sm-70 col-md-offset-10 col-md-60">
              <div class="slider_right_part">
                <h4>ContractTimer</h4>
                <p>Save those unwanted calls by hiding your profile while in
                  <br>Contract, using our helpful <strong>Contract</strong>Timer you can set it
                  <br> live again when your Contract is nearing its end.</p>
              </div>
            </div>
          </div>
          <div class="bx-caption"><span>contracthub</span></div>
        </li>
      </ul> -->
    </div>
  </div>
  <div class="what_is_contractRecruit how_are_you">
    <div class="container">
      <div class="row">
        <div class="col-sm-70">
          <div class="what_is_right responsiv_320" id="whoarewe">
            <h2>Who are we?</h2>
            <p>Our excellent, customer-focused team are based out of sunny Brighton on the South Coast of the UK. We have been helping IT Contractors secure their next role for the last 4 years and our mission has remained the same.</p>
            <p><span>To help you find the perfect IT Contract, at the best rate, in the ideal location.</span> </p>
            <a href="javascript:void(0)" class="btn-primary font_capitaliz hover_white_pluse" routerLink="../../public/contact-us">CONTACT US <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="roket_arrow" id="contractorroketarrow"><img src="./assets/images/roket-arow.png" alt="ads" title="ads" class="img-responsive"></div>
  </div>
</section>
<div id="contractor-login">
  <div class="container">
    <div class="row">
      <div class="col-sm-100" id="whatdowedo"> 
        <div class="contractor_login">
          <h2 class="text-center font_size"><span>Quick Job Search</span></h2>
          <p><strong>We have more live IT contracts than any other job board,</strong> with hundreds of new
            <br> UK-based roles added every day. </p>
        </div>
        <div class="login_form_section">
          <form>
            <div class="row">
              <div class="col-sm-50">
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="ENTER SKILL OR JOB TITLE " [(ngModel)]="title" name="title">
                </div>
              </div>
              <div class="col-sm-50">
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="ENTER LOCATION" name="location" autocorrect="off" autocapitalize="off" spellcheck="off" #search >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-40 pull-right">
                <div class="form-group form_login" (click)="searchContract(title)"> <a href="javascript:void(0)" class="btn-default">SEARCH <i class="fa fa-plus" aria-hidden="true"></i></a> </div>
              </div>
              <div class="col-sm-60">
                <div class="form-group">
                  <label class="need_advanced">NEED A MORE ADVANCED SEARCH? <a  href="javascript:void(0)" routerLink="../../public/jobSearch">CLICK HERE</a></label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
