
          <div class="big_tour_main">
            <div class="row">
              <div class="col-sm-55">
                <div class="big_tour"> <img src="./assets/images/big-tour.png" alt="" title="" class="img-responsive">
                  <p>We chose them carefully becuase we know you’ll love them. Help us by checking them out.</p>
                  <p>They offer solutions that will make your IT contracting life easier </p>
                </div>
              </div>
              <div class="col-sm-45">
                <div class="big_partner_list">
                  <ul>
                    <li> <img src="./assets/images/big-partner1.png" alt="" title="" class="img-responsive"> </li>
                    <li> <img src="./assets/images/big-partner2.png" alt="" title="" class="img-responsive"> </li>
                    <li> <img src="./assets/images/big-partner3.png" alt="" title="" class="img-responsive"> </li>
                    <li> <img src="./assets/images/big-partner4.png" alt="" title="" class="img-responsive"> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
    