<!-- <section id="min_height" class="margin_top_40">
            <div class="container">
                <div class="row">
                    <div class="col-sm-70">
                        <div class="contractor_signup recruiter_signup  befourlogin_fontsize">
                            <h2 class="font_capitalizs">Contractor <span class="text_pink">PROFILE</span></h2>
                            <ul class="breadcomb color_active">
                                <li><a href="javascript:void(0)">Home</a></li>
                                <li class="right_arrow text_pink">&gt;</li>
                                <li><a href="javascript:void(0);">Saved Search</a></li>
                                <li class="right_arrow text_pink">&gt;</li>
                                <li><a href="javascript:void(0);">Search Results</a></li>
                                <li class="right_arrow text_pink">&gt;</li>
                                <li class="active">profile</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-30">
                        <div class="your_options_profile">
                            <div class="dropdown">
                                <button class="" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Your Options
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="javascript:void(0);">Download CV</a></li>
                                    <li><a href="javascript:void(0);">Email Contractor</a></li>
                                    <li><a href="javascript:void(0);">Watch Contractor</a></li>
                                    <li><a href="javascript:void(0);">Share Profile <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-50">
                        <div class="recruiter_view_profile_left">
                            <h2>Wajid Abbasi</h2>
                            <p><span>PHP</span></p>
                            <p><span>£200 - £300</span> Commutable <span class="pink_color">|</span> <span>£300 - £400</span> ReLOCatable</p>
                        </div>
                        <div class="recruiter_view_profile_left2">
                            <p><span>Location:</span> Newport, Wales</p>
                            <p><span>Email:</span> wajidakhterabbasi@gmail.com</p>
                            <p><span>Mobile:</span> 07515 113711</p>
                        </div>
                        <div class="recruiter_view_profile_left3">
                            <a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="javascript:void(0);"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-50">
                        <div class="recruiter_view_profile_right">
                            <h5>Availability</h5>
                            <p>Time Remaining On Contract</p>
                            <img src="./assets/images/days.png" alt="" title="">
                            <p class="font_size14">My Notice Period is </p>
                            <h3>2 Months</h3>
                            <p class="font_size12">i am happy to use my notice period</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile_maps">
                <img src="./assets/images/profile-map.png" alt="" title="" class="img-responsive">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-100">
                        <div class="profile_my_work">
                            <h3>My Work</h3>
                            <h5>Summary</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <h5>Preferred Job Title</h5>
                            <div class="add_sub_skills"> <a href="javascript:void(0);">FVFVFBFB <img src="./assets/images/close-icon.png" alt="Close" title="Close"></a> </div>
                            <h3>Key Skills </h3>
                            <div class="add_sub_skills margin_bottom_none">
                                <P> <a href="javascript:void(0);">PHP <img src="./assets/images/close-icon.png" alt="Close" title="Close"></a> <a href="javascript:void(0);">JAVA <img src="./assets/images/close-icon.png" alt="Close" title="Close"></a> <a href="javascript:void(0);">JAVASCRIPT <img src="./assets/images/close-icon.png" alt="Close" title="Close"></a> <a href="javascript:void(0);">CSS <img src="./assets/images/close-icon.png" alt="Close" title="Close"></a> <a href="javascript:void(0);">SQL <img src="./assets/images/close-icon.png" alt="Close" title="Close"></a></P>
                                <P><a href="javascript:void(0);">SASS <img src="./assets/images/close-icon.png" alt="Close" title="Close"></a> <a href="javascript:void(0);">LARAVEL <img src="./assets/images/close-icon.png" alt="Close" title="Close"></a> <a href="javascript:void(0);">LAMP <img src="./assets/images/close-icon.png" alt="Close" title="Close"></a> <a href="javascript:void(0);">MYSQL <img src="./assets/images/close-icon.png" alt="Close" title="Close"></a></P>
                            </div>
                            <div class="profile_education">
                                <h3>Education </h3>
                                <ul>
                                    <li><img src="./assets/images/education-icon.png" alt="" title=""> B.C.A</li>
                                    <li><img src="./assets/images/education-icon.png" alt="" title=""> M.S.C</li>
                                </ul>
                            </div>
                            <div class="profile_education">
                                <h3>Certifications </h3>
                                <ul>
                                    <li><img src="./assets/images/certifications-icon.png" alt="" title=""> B.C.A</li>
                                    <li><img src="./assets/images/certifications-icon.png" alt="" title=""> M.S.C</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-100">
                                <div class="sign_up_right_side margin_left_blue10"> <a href="javascript:void(0);" [routerLink]="['../searchresult-loggedin']" class="btn-primary hover_text_pink hover_white_pluse">Return To Search Results <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

<section id="">
            <!--navigation top end-->
            <!--contractor login-->
            <div id="contractor-signup">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-100">
                            <div class="contractor_signup">
                                <h2>ExperIS <span class="text_pink">PROFILE</span></h2>
                                <ul class="breadcomb margin_right_5px">
                                    <li><a href="javascript:void(0)" class="hover_text_pink">Home</a></li>
                                    <li class="right_arrow text_pink"> > </li>
                                    <li class="active">PROFILE</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--contractor login end-->
        </section>
        <section>
            <div class="container">
                <div class="recruiter_profile_content_part">
                    <div class="row">
                        <div class="col-sm-25 col-md-20">
                            <img src="./assets/images/experis.png" alt="" title="" class="img-responsive">
                        </div>
                        <div class="col-sm-75 col-md-80">
                            <div class="web_email_content">
                                <p><span>Website</span> {{webAddress}}</p>
                                <p><span>Email</span> {{email}}</p>
                                <p><span>Size</span>
                                    {{companySizeName}}</p>
                                        <p><span>Location</span> {{companyAdd}}</p>
                                        <p><span></span> <span class="text_manage">{{companyProfileView?.companyDescription}}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-100">
                            <div class="recruiter_profile_social">
                                <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)"><i class="fa fa-rss" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-100">
                        <div class="latest_contarctor_profile">
                            <h3>Latest Contracts</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-33 col-sm-33">
                        <div class="my_applications_box">
                            <div class="header_top">
                                <img src="./assets/images/location-map.png" alt="ads" title="ads" class="img-responsive">
                                <p><span>15</span> Miles from Home</p>
                            </div>
                            <div class="application_box_contant">
                                <img src="./assets/images/application1.png" alt="ads" title="ads" class="img-responsive">
                                <h2>Retention Marketing Manager</h2>
                            </div>
                            <div class="application_box_contant2">
                                <p><span>Location:</span> Basingstoke, Hampshire</p>
                                <p><span>Rate:</span> £200 - £260 p/d</p>
                                <p><span>Start Date:</span> 10/07/2017</p>
                                <p><span>Duration:</span> 6 Months</p>
                                <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand.
                                    <br> Focusing on Retention you will be providing maternity cover...</p>
                            </div>
                            <div class="footer_box">
                                <div class="pull-left social_box_footer">
                                    <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                                <div class="pull-right view_company">
                                    <a href="javascript:void(0)">Apply Now <i class="fa fa-plus plus_blue margin_left_20" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-34 col-sm-34">
                        <div class="my_applications_box">
                            <div class="header_top">
                                <img src="./assets/images/location-map.png" alt="ads" title="ads" class="img-responsive">
                                <p><span>45</span> Miles from Home</p>
                            </div>
                            <div class="application_box_contant">
                                <img src="./assets/images/application2.png" alt="ads" title="ads" class="img-responsive">
                                <h2>Cyber Security Specialist</h2>
                            </div>
                            <div class="application_box_contant2">
                                <p><span>Location:</span> Basingstoke, Hampshire</p>
                                <p><span>Rate:</span> £200 - £260 p/d</p>
                                <p><span>Start Date:</span> 10/07/2017</p>
                                <p><span>Duration:</span> 6 Months</p>
                                <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand.
                                    <br> Focusing on Retention you will be providing maternity cover...</p>
                            </div>
                            <div class="footer_box">
                                <div class="pull-left social_box_footer">
                                    <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                                <div class="pull-right view_company">
                                    <a href="javascript:void(0)">Apply Now <i class="fa fa-plus plus_blue margin_left_20" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-33 col-sm-33">
                        <div class="my_applications_box">
                            <div class="header_top">
                                <img src="./assets/images/location-map.png" alt="ads" title="ads" class="img-responsive">
                                <p><span>60</span> Miles from Home</p>
                            </div>
                            <div class="application_box_contant">
                                <img src="./assets/images/application3.png" alt="ads" title="ads" class="img-responsive">
                                <h2>ION Marketview</h2>
                            </div>
                            <div class="application_box_contant2">
                                <p><span>Location:</span> Basingstoke, Hampshire</p>
                                <p><span>Rate:</span> £200 - £260 p/d</p>
                                <p><span>Start Date:</span> 10/07/2017</p>
                                <p><span>Duration:</span> 6 Months</p>
                                <p class="full_contant">Xcede are currently seeking a contract Marketing Manager for a 6 Month Contract with a leading UK brand.
                                    <br> Focusing on Retention you will be providing maternity cover...</p>
                            </div>
                            <div class="footer_box">
                                <div class="pull-left social_box_footer">
                                    <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                                <div class="pull-right view_company">
                                    <a href="javascript:void(0)">Apply Now <i class="fa fa-plus plus_blue margin_left_20" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-100">
                        <div class="show_more_application">
                            <a href="javascript:void(0)" class="btn-primary width_280px  hover_white_pluse"><span>SHOW ALL JOBS</span> <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>