<div id="map"></div><section id="min_height">
  <!--navigation top end-->
  <!--contractor login-->
  <div id="contractor-signup">
    <div class="container">
      <div class="row">
        <div class="col-sm-100">
          <div class="contractor_signup befourlogin_fontsize">
            <h2>CONTRACTOR <span>PROFILE</span></h2>
            <ul class="breadcomb">
              <li><a href="javascript:void(0)">Home</a></li>
              <li class="right_arrow">&gt;</li>
              <li><a href="javascript:void(0)">Contractor </a></li>
              <li class="right_arrow">&gt;</li>
              <li class="active">Profile </li>
            </ul>
            <div class="alert alert-success margin-tp18" *ngIf="succesMessageFlag">
              <a href="javascript:void(0)" class="close" title="close" (click)="succesMessageFlag=false">×</a>{{successMsg}} <strong>succesfully!</strong>
            </div>
            <!-- <div class="alert alert-danger margin-tp18" *ngIf="ErrorMesageFlag">
              <a href="javascript:void(0)" class="close" title="close" (click)="ErrorMesageFlag=false">×</a>
              <strong>Error!</strong> {{errorMsg}}
            </div> -->
            <div class="pull-right job_search"> <a href="javascript:void(0)" class="btn-primary hover_white_pluse" [routerLink]="['../viewProfile']">View Profile <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> <a href="javascript:void(0);" class="btn-info hover_white_pluse">Edit Profile <i class="fa fa-plus plus_black" aria-hidden="true"></i></a> </div>
          </div>
        </div>
      </div>
      <div class="contractor_profile_main">
        <div class="errorbox" *ngIf="(contractorProfile && contractorProfile.form && contractorProfile.form.controls && contractorProfile.form.invalid && contractorProfile.submitted) || ErrorMesageFlag"><b>The following error(s) occured:</b>
          <br>
          <li *ngIf="ErrorMesageFlag">{{errorMsg}}</li>
          <li *ngIf="contractorProfile.form.controls.webAddress?.hasError( 'pattern')">Web address not valid</li>
          <li *ngIf="contractorProfile.form.controls.stackOverWebAdd?.hasError( 'pattern')">stack overflow address not valid</li>
          <li *ngIf="contractorProfile.form.controls.gitHubWebAdd?.hasError( 'pattern')">Github address not valid</li>
          <li *ngIf="contractorProfile.form.controls.linkedinWebAdd?.hasError( 'pattern')">linkedIn address not valid</li>
          <li *ngIf="contractorProfile.form.controls.behanceWebAdd?.hasError('pattern')">Behance address not valid</li>
        </div>
        <div class="errorbox" *ngIf="preferredJobTitleFlag"><b>The following error(s) occured:</b>
          <br>
          <li>Job title required</li>
          
        </div>


        <form (ngSubmit)="saveContractorProfile(contractorProfile)" #contractorProfile="ngForm">
          <div class="row">
            <div class="col-md-30 col-sm-40">
              <div class="profile_left_part signup_form_section width_auto">
                <div class="profile_image">
                  <div class="first">
                    <div style="margin-bottom: 30px;">
                      <img class="img-responsive" [src]="profileUrl ? profileUrl : './assets/images/profile-pik.png'" alt="ads">
                    </div>
                    <div class="fileUpload btn btn-primary">
                      <span><img src="./assets/images/camera.png" alt="camera" title="camera"></span>
                      <input type="file" class="upload" (change)="contractorImageFileChangeEvent($event)" />
                    </div>
                    <!-- <button type="button" (click)="uploadFile()">Upload</button> -->
                    <!-- <span></span>
                      <input type="file" class="upload" (change)="contractorImageFileChangeEvent($event)" /> -->
                  </div>
                  <div class="second">
                    <img-cropper #cropper  [image]="data" [settings]="cropperSettings">
                    </img-cropper>
                    <button type="button" class="btn-primary" style="padding: 5px 30px 4px; margin-bottom: 6px;" (click)="applyCrop()">Apply</button>
                  </div>
                </div>
                <!-- <div class="edit_icon"> <a href="javascript:void(0);"><img src="./assets/images/edit-icon.png" alt="Edit" title="Edit"></a> </div> -->
                <div class="profile_form">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/account-pass.png" alt="Enter Password" title="Password" class="img-responsive"></div>
                      <input class="form-control" id="exampleInputEmail1" placeholder="User Name" type="text" [(ngModel)]="userName" name="userName" [tooltip]="userNameTooltip" [disabled]="true">
                      <tooltip-content #userNameTooltip>
                        <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.userName?.valid " style="color: #C21F39">User Name</span>
                        <!--  <span [hidden]="!contractorProfile.form.controls.userName?.hasError('required')" style="color: #C21F39">User Name is required.</span> -->
                        <!-- <span [hidden]="!contractorProfile.form.controls.userName?.hasError('minlength')" style="color: #C21F39">Contractor First Name min length is 3.</span> -->
                        <!-- <span [hidden]="!contractorProfile.form.controls.userName?.hasError('pattern')" style="color: #C21F39">Contractor First Name not valid!</span> -->
                      </tooltip-content>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/mail-address.png" alt="Email" title="Email" class="img-responsive"></div>
                      <input class="form-control" id="exampleInputEmail1" placeholder="Email Address" type="email" [(ngModel)]="emailAddress" name="emailAddress" [tooltip]="emailAddressTooltip" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [disabled]="true">
                      <tooltip-content #emailAddressTooltip>
                        <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.emailAddress?.valid " style="color: #C21F39">Email Address</span>
                        <!-- <span [hidden]="!contractorProfile.form.controls.emailAddress?.hasError('required')" style="color: #C21F39">Email Address is required.</span> -->
                        <!-- <span [hidden]="!contractorProfile.form.controls.emailAddress?.hasError('pattern')" style="color: #C21F39">Email Address not valid!</span> -->
                      </tooltip-content>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/security-clearance.png" alt="Enter Password" title="Password" class="img-responsive"></div>
                      <select class="form-control minimal background_drop_down" [(ngModel)]="securityClearance" name="securityClearance" [tooltip]="securityClearanceTooltip" required>
                        <option [value]="0">Security Clearance?</option>
                        <option *ngFor="let item of securityClearenceData" value="{{item.id}}">
                          {{item.name}}
                        </option>
                        <!--  <option value="1">124536</option>
                        <option value="5">5124536</option>
                        <option value="10">10124536</option>
                        <option value="20">20124536</option> -->
                      </select>
                      <tooltip-content #securityClearanceTooltip>
                        <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.securityClearance?.valid" style="color: #C21F39">Security Clearance</span>
                        <span [hidden]="!contractorProfile.form.controls.securityClearance?.hasError('required')" style="color: #C21F39">Security Clearance is required.</span>
                      </tooltip-content>
                    </div>
                  </div>
                  <div class="form-group margin_bottom_16px">
                    <div class="input-group">
                      <div class="input-group-addon border_bottom_none"><img src="./assets/images/eu-driving-licence.png" alt="Enter Password" title="Password" class="img-responsive"></div>
                      <label class="eu_driving_licence">EU Driving Licence?</label>
                      <div class="input-group group_inline_right">
                        <input  id="prepaid1" name="service_type3" [checked]="euDrivingLicence==1" type="radio" [(ngModel)]="euDrivingLicence" name="euDrivingLicence1" [value]="1">
                        <label for="prepaid1" class="radio-inline"><span></span> Yes </label>
                        <input id="postpaid2" name="service_type3" type="radio" [(ngModel)]="euDrivingLicence" name="euDrivingLicence2" [value]="0" [checked]="euDrivingLicence==0">
                        <label for="postpaid2" class="radio-inline"><span></span> No </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/post-code.png" alt="Post Code" title="Post Code" class="img-responsive"></div>
                      <input class="form-control" id="exampleInputEmail1" placeholder="Post Code" type="text" [(ngModel)]="postCode" name="postCode" [tooltip]="postCodeTooltip">
                      <tooltip-content #postCodeTooltip>
                        <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.postCode?.valid" style="color: #C21F39">Post Code </span>
                        <span [hidden]="!contractorProfile.form.controls.postCode?.hasError('required')" style="color: #C21F39">Post Code is required.</span>
                      </tooltip-content>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xs-62">
                      <div class="input-group">
                        <div class="input-group-addon upto_border_none day_rate_align"><img src="./assets/images/day-rate.png" alt="Post Code" title="Post Code" class="img-responsive"> Day Rate (&euro;)</div>
                        <input class="form-control" id="exampleInputEmail1" placeholder="" type="text" [(ngModel)]="dayRate1" name="dayRate1" [tooltip]="dayRate1Tolltop">
                        <tooltip-content #dayRate1Tolltop>
                          <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.dayRate1?.valid" style="color: #C21F39">Minimum </span>
                          <span [hidden]="!contractorProfile.form.controls.dayRate1?.hasError('required')" style="color: #C21F39">Min Rate Required</span>
                        </tooltip-content>
                      </div>
                    </div>
                    <div class="col-xs-38">
                      <div class="input-group">
                        <div class="input-group-addon upto_border_none">-</div>
                        <input class="form-control" id="exampleInputEmail1" placeholder="" type="text" [(ngModel)]="dayRate2" name="dayRate2" [tooltip]="dayRate2tooltip">
                        <tooltip-content #dayRate2tooltip>
                          <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.dayRate2?.valid" style="color: #C21F39">Maximum </span>
                          <span [hidden]="!contractorProfile.form.controls.dayRate2?.hasError('required')" style="color: #C21F39">Max Rate Required</span>
                        </tooltip-content>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/availability.png" alt="Availability" title="Availability" class="img-responsive"></div>
                      <input class="form-control" id="exampleInputEmail1" placeholder="Availability" type="text" [(ngModel)]="availability" name="availability" [tooltip]="availabilityTooltip">
                      <tooltip-content #availabilityTooltip>
                        <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.availability?.valid" style="color: #C21F39">Availability </span>
                        <span [hidden]="!contractorProfile.form.controls.availability?.hasError('required')" style="color: #C21F39">Availability is Required</span>
                      </tooltip-content>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/web-address.png" alt="Web Address" title="Web Address" class="img-responsive"></div>
                      <input class="form-control" id="exampleInputEmail1" placeholder="Enter Web Address" type="url" pattern="https?://.+" [(ngModel)]="webAddress" name="webAddress" [tooltip]="webAddressTooltip">
                      <tooltip-content #webAddressTooltip>
                        <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.webAddress?.valid " style="color: #C21F39">Web Address</span>
                        <span [hidden]="!contractorProfile.form.controls.webAddress?.hasError('pattern')" style="color: #C21F39">Web Address not valid!</span>
                      </tooltip-content>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/stack-overflo.png" alt="Stack Overflow Web Address" title="Stack Overflow Web Address" class="img-responsive"></div>
                      <input class="form-control" id="exampleInputEmail1" placeholder="Stack Overflow Web Address" type="url" pattern="https?://.+" [(ngModel)]="stackOverWebAdd" name="stackOverWebAdd" [tooltip]="stackOverWebAddTooltip">
                      <tooltip-content #stackOverWebAddTooltip>
                        <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.stackOverWebAdd?.valid " style="color: #C21F39">StackOver WebAddress</span>
                        <span [hidden]="!contractorProfile.form.controls.stackOverWebAdd?.hasError('pattern')" style="color: #C21F39">StackOver WebAddress not valid!</span>
                      </tooltip-content>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/GitHub-Web.png" alt="Enter GitHub Web Address" title="Enter GitHub Web Address" class="img-responsive"></div>
                      <input class="form-control" id="exampleInputEmail1" placeholder="Enter GitHub Web Address" type="url" pattern="https?://.+" [(ngModel)]="gitHubWebAdd" name="gitHubWebAdd" [tooltip]="gitHubWebAddTooltip">
                      <tooltip-content #gitHubWebAddTooltip>
                        <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.gitHubWebAdd?.valid " style="color: #C21F39">GitHub WebAddress</span>
                        <span [hidden]="!contractorProfile.form.controls.gitHubWebAdd?.hasError('pattern')" style="color: #C21F39"> GitHub address not valid!</span>
                      </tooltip-content>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/Linkedin-Web.png" alt="Enter Linkedin Web Address" title="Enter Linkedin Web Address" class="img-responsive"></div>
                      <input class="form-control" id="exampleInputEmail1" placeholder="Enter Linkedin Web Address" type="url" pattern="https?://.+" [(ngModel)]="linkedinWebAdd" name="linkedinWebAdd" [tooltip]="linkedinWebAddTooltip">
                      <tooltip-content #linkedinWebAddTooltip>
                        <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.linkedinWebAdd?.valid " style="color: #C21F39">Linkedin WebAddress</span>
                        <span [hidden]="!contractorProfile.form.controls.linkedinWebAdd?.hasError('pattern')" style="color: #C21F39"> Linkedin  address not valid!</span>
                      </tooltip-content>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/Behance-Web.png" alt="Enter Behance Web Address" title="Enter Behance Web Address" class="img-responsive"></div>
                      <input class="form-control" id="exampleInputEmail1" placeholder="Enter Behance Web Address" type="text" pattern="https?://.+" [(ngModel)]="behanceWebAdd" name="behanceWebAdd" [tooltip]="behanceWebAddTooltip">
                      <tooltip-content #behanceWebAddTooltip>
                        <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.behanceWebAdd?.valid " style="color: #C21F39">Behance WebAddress</span>
                        <span [hidden]="!contractorProfile.form.controls.behanceWebAdd?.hasError('pattern')" style="color: #C21F39"> behance WebAddress not valid!</span>
                      </tooltip-content>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-70 col-sm-60">
              <div class="preferred_job_titles">
                <div class="form-group">
                  <label for="exampleInputEmail1">What are your preferred job titles?</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter job title" [(ngModel)]="preferredJobTitle" name="preferredJobTitle">
                </div>
                <div class="preferred_skip_submit"> <a href="javascript:void(0)" class="btn-info hover_white_pluse">Skip <i class="fa fa-angle-double-right plus_black" aria-hidden="true"></i></a> <a href="javascript:void(0)" class="btn-info hover_white_pluse" (click)="savePreferredJobTitle()">Submit <i class="fa fa-plus plus_black img_ioc" aria-hidden="true"></i></a> </div>
              </div>
              <div class="profile_map">
                <!-- <img src="./assets/images/map.png" alt="map" title="map" class="img-responsive"> -->
                <!-- agm-map [latitude]="lat" [longitude]="lng">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                  <agm-polygon [paths]="polygonPath" [editable]="true" [draggable]="true"></agm-polygon>
                </agm-map> -->
                <div id="profileMap"></div>
              </div>
              <div class="signup_form_section width_auto">
                <div class="row">
                  <div class="col-md-22 col-sm-50">
                    <div class="form-group">
                      <div class="input-group width_100_commutable">
                        <select class="optn form-control minimal background_drop_down" [(ngModel)]="commutable" name="commutableValue" (change)="changeRelocatable()">
                          <option value="commutable">Commutable</option>
                          <option value="relocatable">Relocatable</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-24 col-sm-50">
                    <div class="form-group row">
                      <div class="col-xs-55">
                        <div class="input-group">
                          <div class="input-group-addon upto_border_none">Rate(&euro;)</div>
                          <input class="form-control" id="exampleInputEmail1" placeholder="" type="text" [(ngModel)]="rate1" name="rate1" (keyup)="minRateKeyup()">
                        </div>
                      </div>
                      <div class="col-xs-45">
                        <div class="input-group">
                          <div class="input-group-addon upto_border_none">-</div>
                          <input class="form-control" id="exampleInputEmail1" placeholder="" type="text" [(ngModel)]="rate2" name="rate2" (keyup)="maxRateKeyup()">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-22 col-sm-45">
                    <div class="form-group">
                      <div class="input-group">
                        <input value="1" id="prepaid" name="service_type2" checked="" type="radio" [(ngModel)]="dailyHourlyValue" name="dailyHourlyValue" value="daily" (change)="changeRateType()">
                        <label for="prepaid" class="radio-inline"><span></span> Daily </label>
                        <input value="2" id="postpaid" name="service_type2" type="radio" [(ngModel)]="dailyHourlyValue" name="dailyHourlyValue" value="hourly" (change)="changeRateType()">
                        <label for="postpaid" class="radio-inline"><span></span> Hourly </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-32 col-sm-55">
                    <div class="preferred_skip_submit margin_left_10"> <a href="javascript:void(0)" class="btn-primary width_90px hover_white_pluse" (click)="editPolygun()">Edit <i class="fa fa-plus plus_blue img_ioc" aria-hidden="true"></i></a> <a href="javascript:void(0)" (click)="drawPloygon()" class="btn-primary width_90px hover_white_pluse">Draw <i class="fa fa-plus plus_blue img_ioc" aria-hidden="true"></i></a> </div>
                  </div>
                </div>
              </div>
              <div class="job_search_keywords signup_form_section width_auto align_padding_margin">
                <h2>CURRENT JOB TITLE</h2>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><img src="./assets/images/current-job-title.png" alt="Current Job Title" title="Current Job Title" class="img-responsive"></div>
                    <input class="form-control" id="exampleInputEmail1" placeholder="Current Job Title" type="text" [(ngModel)]="currentJobTitle" name="currentJobTitle">
                  </div>
                </div>
              </div>
              <div class="job_search_keywords signup_form_section width_auto">
                <h2>Skills & Experience</h2>
                <div class="enter_your_skills">
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Key Skills (Separated with commas)" (keyup)="addSkill($event)" [(ngModel)]="selectedSkill" name="skill">
                  <!-- <select class="form-control minimal background_drop_down" style="width: 96%; float: left;" [(ngModel)]="selectedSkill" name="skills" (change)="selectSkill()">
                    <option value="">Select Skill</option>
                    <option *ngFor="let skill of skillData" [value]="skill.skill_id">{{skill.skill_name}}</option>
                  </select>
                  <a href="javascript:void(0)" style="float: left; margin-left: 7px; margin-top: 3px;" (click)="addSkill()"><img src="./assets/images/your-skills.png" alt="Enter your skills" title="Enter your skills"></a> -->
                </div>
                <div class="add_sub_skills">
                  <a href="javascript:void(0)" *ngFor="let selectedSkill of selectedSkillArray; let i = index">
                      {{selectedSkill}}
                   <img src="./assets/images/close-icon.png" alt="Close" title="Close" (click)="removeSelectedSkill(i)"></a>
                </div>
              </div>
              <!-- <div class="job_search_keywords signup_form_section width_auto">
                <h2>Skills &amp; Experience</h2>
                <div class="enter_your_skills">
                  <label>Enter your skills:</label>
                  <a href="javascript:void(0)"><img src="./assets/images/your-skills.png" alt="Enter your skills" title="Enter your skills"></a> </div>
                <div class="add_sub_skills"> <a href="javascript:void(0)">PHP <img src="./assets/images/close-icon.png" alt="Close" title="Close"></a> <a href="javascript:void(0)">java <img src="./assets/images/close-icon.png" alt="Close" title="Close"></a> <a href="javascript:void(0)">JAVASCRIPT <img src="./assets/images/close-icon.png" alt="Close" title="Close"></a> </div>
              </div> -->
              <div class="signup_form_section summary_industry_box width_auto">
                <div class="row">
                  <div class="col-sm-50">
                    <div class="form-group">
                      <div class="input-group"> <span class="form-control industry_sector">SummAry</span>
                        <div class="input-group-addon bordr_non"></div>
                      </div>
                      <textarea class="form-control textares" rows="3" [(ngModel)]="summary" name="summary"></textarea>
                    </div>
                  </div>
                  <div class="col-sm-50">
                    <div class="form-group">
                      <div class="input-group"> <span class="form-control industry_sector">Industry Sector</span>
                        <div class="input-group-addon bordr_non"></div>
                      </div>
                      <ul class="form-control ">
                        <select class="industry_min_heights padding_none contractor_profile min_height_335" name="industrySector" [(ngModel)]="industrySector" multiple="true">
                          <option *ngFor="let industry of industrySectorData" value="{{industry.id}}">{{industry.industry}}</option>
                        </select>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="signup_form_section width_auto">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><img src="./assets/images/certification-icon.png" alt="Certification" title="Certification" class="img-responsive"></div>
                    <input class="form-control" id="exampleInputEmail1" placeholder="Certification (Separated with Comma)" type="text" [(ngModel)]="certification" name="certification">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><img src="./assets/images/qualification-icon.png" alt="Qualification" title="Qualification" class="img-responsive"></div>
                    <input class="form-control" id="exampleInputEmail1" placeholder="Qualification (Separated with Comma)" type="text" [(ngModel)]="qualification" name="qualification">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><img src="./assets/images/current-job-title.png" alt="Preferred Job" title="Preferred Job" class="img-responsive"></div>
                    <input class="form-control" id="exampleInputEmail1" placeholder="Preferred Job Title" type="text" [(ngModel)]="preferredJobTitleValue" name="preferredJobTitleValue">
                  </div>
                </div>
              </div>
              <div class="signup_form_section width_auto">
                <div class="job_search_keywords">
                  <h2>CV &amp; COVER LETTER</h2>
                </div>
                <div class="row" *ngFor="let CV of contratorCVList; let i = index">
                  <div class="col-md-59 col-sm-100">
                    <div class="form-group magin_bottomo768">
                      <div *ngIf="!CV?.attachment_name" class="input-group">
                        <div class="input-group-addon"><img src="./assets/images/upload-cv.png" alt="Upload CV" title="Upload CV" class="img-responsive"></div>
                        <div class="filecv">
                          <span>Browse From
                              <img alt="search now" src="./assets/images/find-cv.png" title="search now" >
                            </span>
                          <input type="file" class="upload" (change)="contractorCVFileChangeEvent($event)" accept=".doc, .docx, .pdf, .otd, .rtf"/>
                        </div>
                      </div>
                      <div *ngIf="CV?.attachment_name" class="input-group">
                        <div class="input-group-addon"><img src="./assets/images/download-icon.png" alt="Download" title="Download" class="img-responsive"></div>
                        <label class="form-control">{{CV?.attachment_name}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-41 col-sm-100">
                    <div class="current_rate_signup margin_top_10 margin_left_blue10"> <a href="javascript:void(0)" class="btn-primary font_capitaliz hover_white_pluse" (click)="editcv(i)">Edit <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a>
                      <a href="javascript:void(0)" *ngIf="i!==0" class="btn-primary font_capitaliz hover_white_pluse" (click)="removeElement(contratorCVList, i)">Remove <i class="fa fa-minus plus_blue" aria-hidden="true"></i></a> </div>
                    <div class="add_another_cv" *ngIf="i==contratorCVList.length-1" (click)="addAnotherCV()"> <a href="javascript:void(0)" class="pink_color"><i class="fa fa-plus" aria-hidden="true"></i> Add Another CV</a> </div>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-md-59 col-sm-100"> 
                  <div class="col-md-41 col-sm-100">
                    <div class="add_another_cv" (click)="addAnotherCV()"> <a href="javascript:void(0)" class="pink_color"><i class="fa fa-plus" aria-hidden="true"></i> Add Another CV</a> </div>
                  </div>-->
                <!-- /div> 
                </div>-->
                <div class="row" *ngFor="let coverLetter of coverLetterList; let i = index;">
                  <div class="col-md-59 col-sm-100">
                    <div class="form-group magin_bottomo768">
                      <!-- <div class="input-group">
                        <div class="input-group-addon"><img src="./assets/images/upload-cv.png" alt="Upload CV" title="Upload CV" class="img-responsive"></div>
                        <div class="filecv">
                          <span>Browse From
                              <img alt="search now" src="./assets/images/find-cv.png" title="search now">
                            </span>
                          <input type="file" class="upload" />
                        </div>
                      </div> -->
                      <div *ngIf="!coverLetter?.attachment_name" class="input-group">
                        <div class="input-group-addon"><img src="./assets/images/upload-cv.png" alt="Upload CV" title="Upload CV" class="img-responsive"></div>
                        <div class="filecv">
                          <span>Browse From
                              <img alt="search now" src="./assets/images/find-cv.png" title="search now" >
                            </span>
                          <input type="file" class="upload" (change)="contractorCoverLetterFileChangeEvent($event)"  accept=".doc, .docx, .pdf, .otd, .rtf"/>
                        </div>
                      </div>
                      <div *ngIf="coverLetter?.attachment_name" class="input-group">
                        <!-- <div class="input-group-addon"><img src="./assets/images/upload-cv.png" alt="Upload CV" title="Upload CV" class="img-responsive"></div>
                        <div class="filecv">
                          <label>{{coverLetter?.attachment_name}}</label>
                        </div> -->
                        <div class="input-group-addon"><img src="./assets/images/download-icon.png" alt="Download" title="Download" class="img-responsive"></div>
                        <label class="form-control">{{coverLetter?.attachment_name}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-41 col-sm-100">
                    <div class="current_rate_signup margin_top_10 margin_left_blue10"> <a href="javascript:void(0)" class="btn-primary font_capitaliz hover_white_pluse" (click)="editCoverLetter(i)">Edit <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> <a *ngIf="i!==0" href="javascript:void(0)" class="btn-primary font_capitaliz hover_white_pluse" (click)="removeElement(coverLetterList, i)">Remove <i class="fa fa-minus plus_blue" aria-hidden="true"></i></a> </div>
                    <div class="add_another_cv" *ngIf="i==coverLetterList.length-1" (click)="addAnotherCoverLetter()"> <a href="javascript:void(0)" class="pink_color"><i class="fa fa-plus" aria-hidden="true"></i> Add Another Cover Letter</a> </div>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-md-41 col-sm-100">
                    <div class="add_another_cv" (click)="addAnotherCoverLetter()"> <a href="javascript:void(0)" class="pink_color"><i class="fa fa-plus" aria-hidden="true"></i> Add Another Cover Letter</a> </div>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-sm-100">
                    <div class="save_change margin_left_blue10">
                      <!-- <a href="javascript:void(0)" class="btn-primary font_capitaliz hover_white_pluse width_180px">Save Change  -->
                      <button class="btn-primary hover_text_pink hover_white_pluse width_180px" type="submit">Save Changes
                        <i class="fa fa-plus plus_blue" aria-hidden="true"></i>
                      </button>
                      <!-- </a> -->
                    </div>
                  </div>
                </div>
                <div class="job_search_keywords">
                  <h2>Account Details</h2>
                </div>
                <div class="row">
                  <div class="col-md-50 col-sm-100">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><img src="./assets/images/account-pass.png" alt="Enter Password" title="Password" class="img-responsive"></div>
                        <input class="form-control" id="exampleInputEmail1" placeholder="Enter Current Password" type="password" [(ngModel)]="currentPassword" name="currentPassword" [tooltip]="currentPassTooltip">
                        <tooltip-content #currentPassTooltip>
                          <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.currentPassword?.valid " style="color: #C21F39">Current Password</span>
                        </tooltip-content>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-50">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><img src="./assets/images/account-pass.png" alt="Enter Password" title="Password" class="img-responsive"></div>
                        <input class="form-control" id="exampleInputEmail1" placeholder="Enter New Password" type="password" [(ngModel)]="newPassword" name="newPassword" [tooltip]="newPasswordTooltip">
                        <tooltip-content #newPasswordTooltip>
                          <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.newPassword?.valid " style="color: #C21F39">New Password</span>
                        </tooltip-content>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-50">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><img src="./assets/images/account-pass.png" alt="Enter Password" title="Password" class="img-responsive"></div>
                        <input class="form-control" id="exampleInputEmail1" placeholder="Confirm New Password" type="password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" [tooltip]="confirmNewPasswordTooltip" onpaste="return false;">
                        <tooltip-content #confirmNewPasswordTooltip>
                          <span *ngIf="contractorProfile?.form && contractorProfile.form.controls && contractorProfile.form.controls.confirmNewPassword?.valid " style="color: #C21F39"> Password</span>
                        </tooltip-content>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-100">
                    <div class="account_changes margin_left_blue10">
                      <!-- <a href="javascript:void(0)" class="btn-primary font_capitaliz hover_white_pluse">Change -->
                      <button class="btn-primary font_capitaliz hover_white_pluse" type="button" (click)="accountDetailsSave()">Change
                        <i class="fa fa-plus plus_blue" aria-hidden="true"></i>
                        <!-- </a> -->
                      </button>
                    </div>
                  </div>
                </div>
                <div class="job_search_keywords">
                  <h2>CLOSE ACCOUNT</h2>
                </div>
                <div class="row">
                  <div class="col-sm-100">
                    <div class="sign_up_right_side margin_left_blue10" (click)="closeAccountClick()"> <a href="javascript:void(0)" class="btn-primary font_capitaliz width_180px hover_white_pluse">Close Account <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--contractor login end-->
</section>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <form id="CVchoices" action="apply.php">
          <div class="modal3-mid">
            Are you sure to close your account 
            (you will not be able to access this account further) ?
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeAccount()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" >No</button>
      </div>
    </div>
  </div>
</div>
