<section id="min_height">
    <!--navigation top end-->
    <!--contractor login-->
    <div id="contractor-signup">
      <div class="container">
        <div class="row">
          <div class="col-sm-100">
		  <div class="contractor_signup">
              <h2>ContractRecruit   <span>Site Map</span></h2>
              <ul class="breadcomb">
                <li><a href="#">Home</a></li>
                <li class="right_arrow">></li>
                <li class="active">ContractRecruit Site Map</li>
              </ul>
              
            </div>
			
            
          </div>
        </div>
		
		
		<div class="signup_form_section">
		  <div class="row">
		    <div class="col-sm-50">
			  <div class="site_map_contractor">
			    <h3>ContractRecruit Contractor</h3>
				<a href="javascript:void(0)">Login</a>
				<a href="javascript:void(0)">Sign Up</a>
				<a href="javascript:void(0)">Forgotten your password?</a>
				<a href="javascript:void(0)">Job Search</a>
				<a href="javascript:void(0)">Contractor Guide Videos</a>
				<a href="javascript:void(0)">Contracting Advice</a>
				<a href="javascript:void(0)">ContractRecruit News</a>
			 </div>
			</div>
			<div class="col-sm-50">
			  <div class="site_map_recruiter">
			    <h3>ContractRecruit Recruiter</h3>
				<a href="javascript:void(0)">Login</a>
				<a href="javascript:void(0)">Sign Up</a>
				<a href="javascript:void(0)">Forgotten your password?</a>
				<a href="javascript:void(0)">Benefits</a>
				<a href="javascript:void(0)">Recruiter Guide Videos</a>
				<a href="javascript:void(0)">Contractor Search</a>
				<a href="javascript:void(0)">ContractRecruit News</a>
			 </div>
			</div>
		  </div>
		  <div class="row">
		    <div class="col-sm-100">
			  <div class="site_map_contractor">
			    <h3>General</h3>
				<div class="row">
				<div class="col-sm-50">
				<a href="javascript:void(0)">About ContractRecruit</a>
				<a href="javascript:void(0)">ContractRecruit FAQs</a>
				<a href="javascript:void(0)">Contact Us</a>
				<a href="javascript:void(0)">Help Pages</a>
				<a href="javascript:void(0)">Terms of Use</a>
				</div>
				<div class="col-sm-50">
				
				<a href="javascript:void(0)">Equal Opportunities</a>
				<a href="javascript:void(0)">Work With Us</a>
				<a href="javascript:void(0)">Privacy Policy</a>
				<a href="javascript:void(0)">Security</a>
				<a href="javascript:void(0)">Cookies Policy</a>
				</div>
				</div>
			 </div>
			</div>
		  </div>
		</div>
        
      </div>
    </div>
    <!--contractor login end-->
	
	

  </section>