<section id="min_height">
  <div id="contractor-login">
    <div class="container">
      <div class="row">
        <div class="col-sm-100">
          <div id="contractor_about_us" class="contractor_login contractor_signup">
            <h2>Forgotten  <span class="text_pink">your Password?</span></h2>
            <ul class="breadcomb">
              <li><a href="#/public/home" class="hover_text_pink">Home</a></li>
              <li class="right_arrow text_pink">&gt;</li>
              <li>Recruiter</li>
              <li class="right_arrow text_pink">&gt;</li>
              <li class="active">Forgot your Password</li>
            </ul>
          </div>
          <div class="login_form_section">
          <div class="errorbox" *ngIf="emailIdFlag"><b>The following error(s) occured:</b>
            <br>
            <li>Email id is required.</li>
          </div>
          <div class="errorbox" *ngIf="WSErrorMsg"><b></b>
            <br>
            <li>{{WSErrorMsg}}</li>
          </div>
            <form>
              <div class="row">
                <div class="">
                  <div class="form-group">  
                    <p  style="color: #fff; margin-bottom: 15px;">Sign up with ContractRecruit and gain access to all the best IT contractors on the market not to mention our industry-focused innovative functionality that will streamline the recruitment process and save valuable time.</p>
                    <input class="form-control" [(ngModel)]="emailId" type="text" name="email" placeholder="Enter your email address" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-100">
                  <div class="form-group forgot_click_here" style="text-transform: capitalize;"> Still having trouble? Just head over to our <a href="#/public/contact-us" class="text_pink"> Contact page </a> and get in touch directly.
                  &nbsp; &nbsp;&nbsp;&nbsp;
                    <button style="margin-bottom: 0" type="submit" class="form_login btn-default background_pink" (click)="submitEmailId()" style="border:none;"> Reset <i class="fa fa-plus" aria-hidden="true" style="color:#000;"></i> </button>

                    </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div class="container">
    <div class="row">
      <div class="col-sm-100">
        <div class="login_form_section">
          <div class="registered_sectionlogin">
            <h2>Not Registered Yet? <span class="text_pink">Sign Up in Minutes.</span> Set up your profile now!</h2>
            <p>Sign up with ContractRecruit and gain access to all the best IT contractors on the market not to mention our industry-focused innovative functionality that will streamline the recruitment process and save valuable time.</p>
          </div>
          <div class="sign_up_right_side sign_up_right_side_login">
            <a href="javascript:void(0)" routerLink="./../recruiterRegister" class="btn-primary hover_text_pink hover_white_pluse">SIGN UP <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






























<!-- <div id="main" class="clearfix add_credits_page lost_p">
  <div class="ribbon-account-text">
    <h2 class="ribbon add-credit-head"><p>Forgotten your Password?</p></h2>
  </div>
  <div id="content" class="content_expand add_credits_content">
    <div class="widecol w2 forgetPassWord">
      <div class="errorbox" *ngIf="emailIdFlag"><b>The following error(s) occured:</b>
        <br>
        <li>Email id is required.</li>
      </div>
      <div class="errorbox" *ngIf="WSErrorMsg"><b></b>
        <br>
        <li>{{WSErrorMsg}}</li>
      </div>
      <span class="lost-passwd">
                    Password Reset <span class="lost-coll">:</span>
      </span>
      <span class="required-fld"><span class="required-sign">*</span> required field. </span>
      <form action="" method="post">
        <span class="forgot-uh-cnt upgrade-account-content-wrap">
                        <span class="pswd-text"><b>Uh Oh! Forgotten your Password? </b>
                            No problem, just enter the email address you used to set up your account below, hit the reset button and 
                            we wil send you everything you need to get back into your account. 
                        </span>
        <span class="password_form">
                            
                            <input type="hidden" name="mode" value="reset_psw" />
                            <span class="acc-option">
                                <label for="email">Enter your email address<span>*</span></label>
        </span>
        <span class="inp-auto auto186"> 
                                <span>  
                                    <input class="emailfield inpfocus2" [(ngModel)]="emailId" type="text" name="email" /></span>
        </span>
        </span>
        </span>
        <div class="upgrade-form">
          <span class="lost-passwd-foot">
                            <b>Still having trouble?</b> 
                                 Just head over to our 
                            <a class="lost-coll" href="https://stage.contractrecruit.co.uk/contact">Contact</a> page and get in touch directly. 
                        </span>
          <input type="Submit" (click)="submitEmailId()" class="upgrade-button" name="submit" value="Reset" />
        </div>
      </form>
    </div>
  </div>
  <div class="ribbon3">
    <p><b>Thank</b> You.</p>
  </div>
</div> -->
