<section id="min_height">
  <!--navigation top end-->
  <!--contractor login-->
  <div id="contractor-signup">
    <div class="container">
      <div class="row">
        <div class="col-sm-100">
          <div class="contractor_signup befourlogin_fontsize">
            <h2 class="font_capitalizs">manage <span class="text_pink">users</span></h2>
            <ul class="breadcomb">
              <li><a href="javascript:void(0)" class="hover_text_pink" [routerLink]="['../recruiter-home']">Home</a></li>
              <li class="right_arrow text_pink">&gt;</li>
              <li class="active">MANAGE users</li>
            </ul>
          </div>
        </div>
      </div>
       <div class="errorbox" *ngIf="WSErrorMsg"><b></b><br> 
          <li>{{WSErrorMsg}}</li>
      </div>
      <!-- <div class="alert alert-danger margin-tp18" *ngIf="errorMessageFlag">
      <a href="javascript:void(0)" class="close" title="close" (click)="errorMessageFlag = !errorMessageFlag">×</a><strong>{{errorMessage}}</strong>
    </div> -->
    <div class="alert alert-success margin-tp18" *ngIf="successMessageFlag">
      <a href="javascript:void(0)" class="close" title="close" (click)="successMessageFlag = !successMessageFlag">×</a><strong>{{successMessage}}</strong>
    </div>
      <div class="row">
        <div class="col-sm-100">
          <div class="signup_form_section">
            <form>
              <div class="row">
                <div class="col-sm-100">
                  <div class="manage_top_buttons">
                    <ul>
                      <li><a href="javascript:void(0);" [routerLink]="['../manage-account']">Your Account</a></li>
                      <li><a href="javascript:void(0);" [routerLink]="['../profile']">Your Profile</a></li>
                      <li class="active"><a href="javascript:void(0);">Manage Users</a></li>
                      <li><a href="javascript:void(0);" [routerLink]="['../manage-password']">Manage Password</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job_search_keywords manage_user_recruiter">
                <h2 class="text_pink">Manage Users</h2>
                <p>You are the super user for inuscg</p>
              </div>
              <div class="total_number_users">
                <p><span>total number of users :</span> {{totalNumberOfUser ? totalNumberOfUser : 'N/A'}}</p>
                <p><span>Total Number of Users Allowed :</span> {{userAllowed ? userAllowed : 'N/A'}}</p>
              </div>
              <div class="job_search_keywords manage_user_recruiter">
                <h2 class="text_pink">Manage Sub-Users</h2>
                <div class="manage_sub_user_main" *ngFor="let item of subUserArray">
                  <div class="row">
                    <div class="col-sm-63 col-md-65">
                      <div class="manage_sub_users_name">
                        <img src="./assets/images/recruiter-contractor-name.png" alt="" title="">
                        <p><span>{{item?.recuriter_contact_name ? item?.recuriter_contact_name : 'N/A'}} :</span> {{item?.recuriter_business_email ? item?.recuriter_business_email : 'N/A'}}</p>
                      </div>
                    </div>
                    <div class="col-sm-37 col-md-35">
                      <div class="manage_user_sub_right">
                        <a href="javascript:void(0);" *ngIf="item?.is_super_admin == null || item?.is_super_admin == 0" (click)="makeSuperUser(item?.recuriter_id)" class="btn-primary hover_text_pink hover_white_pluse width_180px">Make Super User  <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i></a>
                        <a href="javascript:void(0);" class="hover_white_pluse delete_super_user" (click)="openDeletePopup(item?.recuriter_id)"><i class="fa fa-trash-o text_pink" aria-hidden="true"></i> </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="manage_sub_user_main">
                  <div class="row">
                    <div class="col-sm-63 col-md-65">
                      <div class="manage_sub_users_name">
                        <img src="./assets/images/recruiter-contractor-name.png" alt="" title="">
                        <p><span>shivangi@inuscg.com :</span> shivangi@inuscg.com</p>
                      </div>
                    </div>
                    <div class="col-sm-37 col-md-35">
                      <div class="manage_user_sub_right">
                        <a href="javascript:void(0);" class="btn-primary hover_text_pink hover_white_pluse width_180px">Make Super User  <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i></a>
                        <a href="javascript:void(0);" class="hover_white_pluse delete_super_user"><i class="fa fa-trash-o text_pink" aria-hidden="true"></i> </a>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="job_search_keywords">
                <h2 class="">Add Another User</h2>
              </div>
              <div class="row">
                <div class="col-sm-50">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/recruiter-contractor-name.png" alt="" title="" class="img-responsive"></div>
                      <input type="text" class="form-control box_padding_3 box_height_30" id="exampleInputEmail1" placeholder="New User Name" name="newUser" [(ngModel)]="newUserName" [disabled]="companyEditableId == 0">
                    </div>
                  </div>
                </div>
                <div class="col-sm-50">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/recruiter-job-title.png" alt="" title="" class="img-responsive"></div>
                      <input type="text" class="form-control box_padding_3 box_height_30" id="exampleInputEmail1" placeholder="Job Title" name="jobTitleValue" [(ngModel)]="jobTitleValue" [disabled]="companyEditableId == 0">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-50">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/password-manag.png" alt="" title="" class="img-responsive"></div>
                      <input type="password" class="form-control box_padding_3 box_height_30" id="exampleInputEmail1" placeholder="Password" name="userPassword" [(ngModel)]="userPassword" [disabled]="companyEditableId == 0">
                    </div>
                  </div>
                </div>
                <div class="col-sm-50">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/password-manag.png" alt="" title="" class="img-responsive"></div>
                      <input type="password" class="form-control box_padding_3 box_height_30" id="exampleInputEmail1" placeholder="Confirm Password" name="confirmPassWord" [(ngModel)]="confirmPassWord" [disabled]="companyEditableId == 0">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-50">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/recruiter-mail-address.png" alt="" title="" class="img-responsive"></div>
                      <input type="email" class="form-control box_padding_3 box_height_30" id="exampleInputEmail1" placeholder="Email Address" name="emailAddress" [(ngModel)]="emailAddress" [disabled]="companyEditableId == 0">
                    </div>
                  </div>
                </div>
                <div class="col-sm-50">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/telephone-icon.png" alt="" title="" class="img-responsive"></div>
                      <input type="text" class="form-control box_padding_3 box_height_30" id="exampleInputEmail1" placeholder="Telephone" name="telephoneV" [(ngModel)]="telephoneV" [disabled]="companyEditableId == 0">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-100">
                  <div class="sign_up_right_side">
                    <a href="javascript:void(0);" (click)="addAnotherUser()" class="btn-primary hover_text_pink hover_white_pluse width_180px" [ngClass]="companyEditableId == 0 ? 'anchor_disable': ''">Add New User <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--contractor login end-->
</section>

<div id="confirm-container" class="simplemodal-container" *ngIf="openPopupFlag">
  <a href="javascript:void(0);" style="cursor: pointer;" title="Close" class="modal-close simplemodal-close" (click)="closeDeletePopup()">X</a>
  <div tabindex="-1" class="simplemodal-wrap">
    <div id="confirm" class="simplemodal-data">
      <h3 class="message"></h3>
      <p>Are you sure you want to Delete user?</p>
      <div class="buttons">
        <div class="no simplemodal-close" (click)="closeDeletePopup()">No</div>
        <div class="yes" (click) = "deleteUser()">Yes</div>
      </div>
    </div>
  </div>
</div>
