<section id="min_height">
    <!--navigation top end-->
    <!--contractor login-->
    <div id="contractor-signup">
      <div class="container">
        <div class="row">
          <div class="col-sm-100">
            <div class="contractor_signup">
              <h2>Recruiter  <span class="text_pink">Guides</span></h2>
              <ul class="breadcomb">
                <li><a href="javascript:void(0);">Home</a></li>
                <li class="right_arrow right_arrow text_pink">></li>
                <li class="active">Recruiter Guides</li>
              </ul>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--contractor login end-->
	
	<div class="container">
		<div class="signup_form_section">
		  <div class="guides_videos">
		    <h3>Welcome to our site</h3>
			<p>
			Welcome to ContractRecruit. We want you to get the most out of your time here,
so we have created a range of instructional videos covering the use of every part of our site.</p>
<p>
ContractRecruit contains some of the best Contractor functionality around, in order to help you find your next perfect Contract.</p>

<p>Best of all, you can be assured that all of the positions advertised on ContractRecruit are IT Contracts, so there will always be something here just for you. 
			</p>
			
			
  
			<iframe width="100%" height="380" src="https://www.youtube.com/embed/84xWnoy9ZCw" frameborder="0" gesture="media" allowfullscreen></iframe>
			
			
			
		  </div>
		</div>
</div>
<div class="weekly_newsletter login_form_section width_auto guide_video_shares">
	    <div class="container">
		 <form class="guide_video_share">
		 <div class="row">
		    <div class="col-md-45 col-sm-100">
			  <p class="more_sign_up">Share this  <span>Guide</span></p>
			</div>
			 <div class="col-md-39 col-sm-77">
			 
  <div class="form-group mergin_bottom_none">
    <input class="form-control" id="exampleInputEmail2" placeholder="Enter Email Address Here" type="email">
  </div>
  

			 </div>
			 <div class="col-md-16 col-sm-23">
			   <a href="#" type="submit" class="btn btn-default font_capitaliz hover_white_pluse">Share <i class="fa fa-plus font_color_white" aria-hidden="true"></i></a>
			 </div>
		  </div>
		  </form>
		  </div>
  </div>

  </section>