<section id="min_height">
  <!--navigation top end-->
  <!--contractor login-->
  <div id="contractor-signup">
    <div class="container">

      <div class="row">
        <div class="col-sm-100">
          <div class="contractor_signup befourlogin_fontsize">
            <h2 class="font_capitalizs">manage <span class="text_pink">PASSWORD</span></h2>
            <ul class="breadcomb">
              <li><a href="javascript:void(0)" class="hover_text_pink" [routerLink]="['../recruiter-home']">Home</a></li>
              <li class="right_arrow text_pink">&gt;</li>
              <li class="active">MANAGE PASSWORD</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="errorbox" *ngIf="WSErrorMsg"><b></b><br> 
        <li>{{WSErrorMsg}}</li>
    </div>
      
      <div class="errorbox" *ngIf="oldPasswordFlag || newPasswordFlag || confirmPasswordFlag"><b>The following error(s) occured:</b><br> 
        <li *ngIf="oldPasswordFlag">Old Password is required.</li>
        <li *ngIf="newPasswordFlag">New Password is required.</li>
        <li *ngIf="confirmPasswordFlag">Confirm Password is required.</li>
    </div>

    <div id="contractor-signup" class="recruiter_job_posting_manage"  *ngIf="errorMessageValue">
        <div class="alert alert-success margin-tp18">
        <a href="javascript:void(0)" class="close" title="close" (click)="errorMessageValue = !errorMessageValue">×</a><strong>{{errorMessageValue}}</strong>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-100">
          <div class="signup_form_section">
            <form (ngSubmit)="savePassword(saveRecruiterPassword)" #saveRecruiterPassword="ngForm">
              <div class="row">
                <div class="col-sm-100">
                  <div class="manage_top_buttons">
                    <ul>
                      <li><a href="javascript:void(0);" [routerLink]="['../manage-account']">Your Account</a></li>
                      <li><a href="javascript:void(0);" [routerLink]="['../profile']">Your Profile</a></li>
                      <li><a href="javascript:void(0);" [routerLink]="['../manage-user']">Manage Users</a></li>
                      <li class="active"><a href="javascript:void(0);">Manage Password</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job_search_keywords">
                <h2>Change Password</h2>
              </div>
              <div class="row">
                <div class="col-sm-100">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/old-password.png" alt="" title="" class="img-responsive"></div>
                      <input type="password" class="form-control box_padding_3 box_height_30" id="exampleInputEmail1" placeholder="Old Password" [(ngModel)]="oldPassword" name="oldPassword" required>
                      
                    </div>
                    <!-- <span style="color:red" *ngIf="oldPasswordFlag">Old Password is required.</span> -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-50">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/password-manag.png" alt="" title="" class="img-responsive"></div>
                      <input type="password" class="form-control box_padding_3 box_height_30" id="exampleInputEmail1" placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" required>
                      
                    </div>
                    <!-- <span style="color:red" *ngIf="newPasswordFlag">New Password is required.</span> -->
                  </div>
                </div>
                <div class="col-sm-50">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><img src="./assets/images/password-manag.png" alt="" title="" class="img-responsive"></div>
                      <input type="password" class="form-control box_padding_3 box_height_30" id="exampleInputEmail1" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                      
                    </div>
                    <!-- <span style="color:red" *ngIf="confirmPasswordFlag">Confirm Password is required.</span> -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-100">
                  <div class="sign_up_right_side"> 
                    <!-- <a href="javascript:void(0)" class="btn-primary hover_text_pink hover_white_pluse width_180px">Save Changes --> 
                      <button class="btn-primary hover_text_pink hover_white_pluse width_180px" type="submit" >Save Changes
                      <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i>
                    <!-- </a> --> 
                  </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
    <!--contractor login end-->
</section>
