<section id="">
  <div id="contractor-login">
    <div class="container">
      <div class="row">
        <div class="col-sm-100">
          <div class="contractor_login">
            <h2 class="text-center font_size font_size_30"><span>SEARCH</span> CONTRACTHUB <span>AND FIND THE</span> ANSWERS <span>YOU NEED</span></h2>
          </div>
          <div class="login_form_section">
            <form>
              <div class="row">
                <div class="col-sm-100">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="ENTER QUESTION, KEYWORD OR SUBJECT HERE...">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-100">
                  <div class="form-group search_now_home"><a href="javascript:void(0)">SEARCH NOW <img src="./assets/images/search-now-icon.png" alt="search now" title="search now"></a> </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-50">
        <div class="contract_hub_hadding">
          <h5><strong>CONTRACT</strong>HUB CATEGORIES</h5>
        </div>
      </div>
      <div class="col-sm-50">
        <div class="contractor_signup text-right">
          <ul class="breadcomb">
            <li><a href="javascript:void(0)">Home</a></li>
            <li class="right_arrow">&gt;</li>
            <li class="active"> CONTRACTHUB </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-33 col-md-33">
        <app-contractor-services></app-contractor-services>
        <!-- <div class="ad_space margin_bottom_10px"> <img src="images/ad-space.png" alt="ads" title="ads" class="img-responsive"> </div> -->
        <div class="more_services_div" routerLink="../" style="margin-bottom: 15px"> <a href="javascript:void(0)" class="btn-primary hover_white_pluse">MORE SERVICES <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div>
      </div>

      <div class="col-sm-34 col-md-34">
        <app-latest-news></app-latest-news>
        <!-- <div class="ad_space margin_bottom_10px"> <img src="images/ad-space.png" alt="ads" title="ads" class="img-responsive"> </div> -->
        <!--  <div class="letest_news_home">
          <div class="services_header margin_bottom_10px"> <img src="images/it-news.png" alt="" title=""> <span>INDUSTRY NEWS</span> <a href="javascript:void(0)" class="view_all_button">view all</a> </div>
          <div class="letest_news_box margin_bottom_10px">
            <div class="book_mark"><a href="javascript:void(0)"><img src="images/it-news.png" alt="" title=""></a></div>
            <img src="images/letest-post.png" alt="" title="" class="img-responsive">
            <h5>IT Jobs going abroad a concern for Contractors</h5>
            <p>IT jobs going abroad are a major concern for IT Contractors in the UK with foreign companies hiring heavily and leaving little... </p>
            <div class="letest_news_footer"> <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="javascript:void(0)" class="btn-primary news_read_more">READ MORE<i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div>
          </div>
          <div class="letest_news_box margin_bottom_10px">
            <div class="book_mark"><a href="javascript:void(0)"><img src="images/it-news.png" alt="" title=""></a></div>
            <img src="images/letest-post.png" alt="" title="" class="img-responsive">
            <h5>IT Jobs going abroad a concern for Contractors</h5>
            <p>IT jobs going abroad are a major concern for IT Contractors in the UK with foreign companies hiring heavily and leaving little... </p>
            <div class="letest_news_footer"> <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="javascript:void(0)" class="btn-primary news_read_more">READ MORE<i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div>
          </div>
          <div class="ad_space margin_bottom_10px"> <img src="images/ad-space.png" alt="ads" title="ads" class="img-responsive"> </div>
          <div class="letest_news_box margin_bottom_10px">
            <div class="book_mark"><a href="javascript:void(0)"><img src="images/it-news.png" alt="" title=""></a></div>
            <img src="images/letest-post.png" alt="" title="" class="img-responsive">
            <h5>IT Jobs going abroad a concern for Contractors</h5>
            <p>IT jobs going abroad are a major concern for IT Contractors in the UK with foreign companies hiring heavily and leaving little... </p>
            <div class="letest_news_footer"> <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="javascript:void(0)" class="btn-primary news_read_more">READ MORE<i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div>
          </div>
        </div>
        <div class="more_services_div"> <a href="javascript:void(0)" class="btn-primary hover_white_pluse">SEE MORE NEWS <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div> -->
      </div>
      <div class="col-sm-33 col-md-33">
        <!-- <div class="services_header margin_bottom_10px"> <img src="images/artical-message-larg.png" alt="" title=""> <span>CONTRACTOR ADVICE</span> <a href="javascript:void(0)"><img src="images/services-menu.png" alt="" title="" class="menu_bar"></a>
          <div class="navigation_services" style="display:none;">
            <ul>
              <li><a href="javascript:void(0)">Umbrella Companies</a></li>
              <li><a href="javascript:void(0)">Insurance Providers</a></li>
              <li><a href="javascript:void(0)">IT Training</a></li>
              <li><a href="javascript:void(0)">Accountancy Services</a></li>
              <li><a href="javascript:void(0)">Mortgage Solutions</a></li>
              <li><a href="javascript:void(0)">CV Writing and Help</a></li>
              <li><a href="javascript:void(0)">Working Abroad</a></li>
              <li><a href="javascript:void(0)">MVL Advisors</a></li>
            </ul>
          </div>
        </div> -->
        <!-- <div class="letest_news_box margin_bottom_10px">
          <div class="book_mark"><a href="javascript:void(0)"><img src="images/artical-message.png" alt="" title=""></a></div>
          <img src="images/letest-post.png" alt="" title="" class="img-responsive">
          <h5>IT Jobs going abroad a concern for Contractors</h5>
          <p>IT jobs going abroad are a major concern for IT Contractors in the UK with foreign companies hiring heavily and leaving little... </p>
          <div class="letest_news_footer"> <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="javascript:void(0)" class="btn-primary news_read_more">READ MORE<i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div>
        </div> -->
        <app-contractor-advice></app-contractor-advice>
        <div class="more_services_div" routerLink="../advice" style="margin-bottom: 15px"> <a href="javascript:void(0)" class="btn-primary hover_white_pluse">READ MORE ADVICE <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div>
        
        <div class="update_your_availability contractor_availability margin_bottom_10px"> <img src="images/login-after-logo.png" alt="" title="" class="img-responsive">
          <h5>UPDATE YOUR<br>
              <span>AVAILABILITY</span></h5>
          <p>Update your availability so recruiters know when your ready for your next contract.</p>
          <a href="javascript:void(0)" class="btn-primary news_read_more">UPDATE NOW <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div>
        <!-- <div class="ad_space margin_bottom_10px"> <img src="images/ad-space.png" alt="ads" title="ads" class="img-responsive"> </div> -->
        <!-- <div class="letest_news_box margin_bottom_10px">
          <div class="book_mark"><a href="javascript:void(0)"><img src="images/artical-message.png" alt="" title=""></a></div>
          <img src="images/letest-post.png" alt="" title="" class="img-responsive">
          <h5>IT Jobs going abroad a concern for Contractors</h5>
          <p>IT jobs going abroad are a major concern for IT Contractors in the UK with foreign companies hiring heavily and leaving little... </p>
          <div class="letest_news_footer"> <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="javascript:void(0)" class="btn-primary news_read_more">READ MORE<i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div>
        </div> -->
      </div>
    </div>
    <app-ad-space></app-ad-space>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-60 col-md-67">
        <app-social-media></app-social-media>
        <!-- <div class="contracting_right contracting_left_side ">
          <p class="position_rotade"> <span>What do you do when</span>
            <br>
            <span> You’re not contracting? </span></p>
          <img src="images/contracting-lefts.png" alt="" title="" class="menu_bar img-responsive">
          <div class="contracting_contant">
            <p>Show us what you do when your not contracting to win an ultimate experience with ContractRecruit. Just upload an image or drop us a line on Twitter, Linkedin or Facebook with #WorkSmartPlayHard for your chance to win.</p>
            <div class="row">
              <div class="col-xs-30 col-sm-50">
                <div class="contracting_social"> <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </div>
              </div>
              <div class="col-xs-70 col-sm-50">
                <div class="worksmart_nev"><span>#</span>WorkSmart<span>PlayHard</span></div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="col-sm-40 col-md-33">
        <app-content-bottom-left-ads></app-content-bottom-left-ads>
        <!-- 
        <div class="big_tour_main margin_bottom_20">
          <div class="row">
            <div class="col-md-50 col-sm-40">
              <div class="big_tour"> <img src="images/big-tour.png" alt="" title="" class="img-responsive">
              </div>
            </div>
            <div class="col-md-50 col-sm-60">
              <p>We chose them carefully becuase we know you’ll love them. Help us by checking them out.</p>
              <p>They offer solutions that will make your IT contracting life easier </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-50">
              <div class="big_partner_list margin_top_30">
                <ul>
                  <li> <img src="images/big-partner1.png" alt="" title="" class="img-responsive"> </li>
                  <li> <img src="images/big-partner3.png" alt="" title="" class="img-responsive"> </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-50">
              <div class="big_partner_list margin_top_30">
                <ul>
                  <li> <img src="images/big-partner2.png" alt="" title="" class="img-responsive"> </li>
                  <li> <img src="images/big-partner4.png" alt="" title="" class="img-responsive"> </li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
<section>
  <div class="contractrecruit_banner">
    <div class="container">
      <!-- <div class="row">
        <div class="col-sm-30 col-md-30">
          <div class="green_logo">
            <img src="images/contra-logo.png" alt="ads" title="ads" class="img-responsive">
          </div>
        </div>
        <div class="col-sm-70 col-md-65 col-md-offset-5">
          <div class="contract_right_part">
            <ul>
              <li>SiMPLE</li>
              <li class="circle"><i class="fa fa-circle" aria-hidden="true"></i></li>
              <li>FAST</li>
              <li class="circle"><i class="fa fa-circle" aria-hidden="true"></i></li>
              <li>RELiABLE</li>
              <li class="circle"><i class="fa fa-circle" aria-hidden="true"></i></li>
              <li>SECURE</li>
            </ul>
            <p>Welcome our IT Contractor focused payroll solution that understands your needs brought to you by your ContractRecruit team. We make setting yourself up for work easy with our dedicated support team. Just get in touch on <span>0203 3300 714</span></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-100">
          <div class="banner_find_out_more">
            <p>Take Home upto <span>85% of your pay</span> on time every time with ContractRecruit Payroll Solutions</p>
            <a href="javascript:void(0)" class="pull-right">FIND OUT MORE <i class="fa fa-plus" aria-hidden="true"></i></a>
          </div>
        </div>
      </div> -->
      <app-content-bottom-right-ads></app-content-bottom-right-ads>
    </div>
  </div>

</section>
