
          <div class="upload_cv_box">
            <div class="upload_contant_part">
              <h2 routerLink="../contractorSignup">UPLOAD YOUR CV</h2>
              <p>Upload your CV, search 1000’s of IT contracts and get noticed by top companies looking for professionals just like you. </p>
              <a href="javascript:void(0)" routerLink="../contractorSignup" class="btn-primary">UPLOAD YOUR CV <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div>
            <div class="upload_contant_footer">
              <div class="row">
                <div class="col-sm-60">
                  <p>ALREADY HAVE AN ACCOUNT? <a href="javascript:void(0)" class="blue_text_color" routerLink="../contractorLogin" >LOGIN</a></p>
                </div>
                <div class="col-sm-40">
                  <p class="live_contracts"><span>{{recruiterCount ? recruiterCount : 'No'}}</span> LIVE CONTRACTS</p>
                </div>
              </div>
            </div>
          </div>
       