<div class="container">
    <div class="row">
      <div class="col-sm-33" *ngFor="let add of addList; let i = index;">
        <div  class="ad_space" > <img [src]="add.input_brows ? add.input_brows : './assets/images/ad-space.png'" alt="ads" title="ads" class="img-responsive" onError="this.src='./assets/images/ad-space.png'"> </div>
      </div>
     <!--  <div class="col-sm-34">
        <div class="ad_space"> <img src="./assets/images/ad-space.png" alt="ads" title="ads" class="img-responsive"> </div>
      </div> -->
      <!-- <div class="col-sm-33">
        <div class="ad_space"> <img src="./assets/images/ad-space.png" alt="ads" title="ads" class="img-responsive"> </div>
      </div> -->
    </div>
  </div>