<section id="min_height">
            <!--navigation top end-->
            <!--contractor login-->
            <div id="contractor-signup" class="recruiter_job_posting_manage">
               
                <form #recruiterJobPostingForm="ngForm" (ngSubmit)="onJobPostSave(recruiterJobPostingForm)">
                    <div class="errorbox" *ngIf="jobPostingTiteFlag || jobPostingDurationFlag || startDateFlag || cityFlag || jobSpecificationFlag"><b>The following error(s) occured:</b><br> 
                        <li *ngIf="jobPostingTiteFlag">Job Title is required.</li>
                        <li *ngIf="jobPostingDurationFlag">Job Duration is required.</li>
                        <li *ngIf="startDateFlag">Start Date is required.</li>
                        <!-- <li *ngIf="industrySectorFlag">Industry Sector is required.</li>
                        <li *ngIf="workEliFlag">Work Eligibility is required.</li> -->
                        <li *ngIf="cityFlag">Location is required.</li>
                        <!-- <li *ngIf="maxRateFlag">Max rate is required.</li>
                        <li *ngIf="minRateFlag">Min rate is required.</li> -->
                        <li *ngIf="jobSpecificationFlag">Job Specification is required.</li>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-50">
                                <div class="contractor_signup recruiter_signup">
                                    <h2 class="">job <span class="text_pink">Posting</span></h2>
                                    <ul class="breadcomb">
                                        <li><a href="javascript:void(0)" class="hover_text_pink" [routerLink]="['../recruiter-home']">Home</a></li>
                                        <li class="right_arrow text_pink">&gt;</li>
                                        <li class="active">job posting</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-50">
                                <div class="signup_form_section width_auto choose_templates">
                                    <label>Choose Template:</label>
                                    <select class="form-control minimal background_drop_down box_height_30 box_padding_3 padding_left_none java_developer" (change)="renderTemplateDate()" [(ngModel)]="currentTemplate" name="currentTemplate">
                                        <!-- <option value="">Choose Template</option> -->
                                        <option value="{{item?.id}}" *ngFor="let item of templateData">{{item?.template_name}}</option>                                        
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="errorbox" *ngIf="WSErrorMsg"><b></b><br> 
                        <li>{{WSErrorMsg}}</li>
                    </div>


                         <div class="alert alert-success margin-tp18" *ngIf="jobPostFlag">
                <a href="javascript:void(0)" class="close" title="close" (click)="jobPostFlag = !jobPostFlag">×</a><strong>{{postJobSuccessMsg}}</strong>
              </div>
                        <div class="signup_form_section">
                            <div class="margin_bottom_30">
                                <div class="job_search_keywords">
                                    <h2>job details</h2>
                                </div>
                                <div class="row">
                                    <div class="col-sm-100">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><img src="./assets/images/recruiter-job-title.png" alt="Job Title" title="Job Title" class="img-responsive"></div>
                                               <input type="text" class="form-control box_height_30 box_padding_3" id="exampleInputEmail1" placeholder="Job Title" name="jobPostingJobTitle" [(ngModel)]="jobPostingJobTitle" required [maxlength]="40" #jobT (keyup)="jobPostingJobTitle = jobT.value">
                                               <!-- <tooltip-content #jobTitleTooltip>
                                                <span *ngIf="recruiterJobPostingForm?.form && recruiterJobPostingForm.form.controls && recruiterJobPostingForm.form.controls.jobPostingJobTitle?.valid " style="color: #C21F39">Job Title</span>
                                                <span [hidden]="!recruiterJobPostingForm.form.controls.jobPostingJobTitle?.hasError('required')" style="color: #C21F39">Job Title is required.</span>
                                              </tooltip-content> -->
                                            </div>
                                            <!-- <span style="color:red" *ngIf="jobPostingTiteFlag">Job Title is required.</span> -->
                                            <p class="characters_remaining"><span *ngIf="jobPostingJobTitle">{{jobPostingJobTitle | countdown:40}}</span><span *ngIf="!jobPostingJobTitle">40</span> characters remaining</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-50">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><img src="./assets/images/duration.png" alt="Excluding" title="Excluding" class="img-responsive"></div>
                                                <input type="text" class="form-control box_height_30 box_padding_3" id="exampleInputEmail1" placeholder="Duration" name="jobPostingDuration" [(ngModel)]="jobPostingDuration" required [maxlength]="20" #jobD (keyup)="jobPostingDuration = jobD.value">
                                                <!-- <tooltip-content #jobPostingDurTooltip>
                                                <span *ngIf="recruiterJobPostingForm?.form && recruiterJobPostingForm.form.controls && recruiterJobPostingForm.form.controls.jobPostingDuration?.valid " style="color: #C21F39">Duration</span>
                                                <span [hidden]="!recruiterJobPostingForm.form.controls.jobPostingDuration?.hasError('required')" style="color: #C21F39">Job Posting is required.</span>
                                              </tooltip-content> -->
                                            </div>
                                            <!-- <span style="color:red" *ngIf="jobPostingDurationFlag">Job Duration is required.</span> -->
                                            <p class="characters_remaining"><span *ngIf="jobPostingDuration">{{jobPostingDuration | countdown:20}}</span><span *ngIf="!jobPostingDuration">20</span> characters remaining</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-50">
                                        <div class="form-group">
                                            <div class="input-group">
                                                
                                                <div class="input-group-addon"><img src="./assets/images/start-date.png" alt="Excluding" title="Excluding" class="img-responsive"></div>
                                                <input type="date" class="form-control box_height_30 box_padding_3" id="exampleInputEmail1" placeholder="Start Date (yyyy-mm-dd)" name="startDate" [(ngModel)]="startDate" required>
                                                <!-- <tooltip-content #startDateTooltip>
                                                <span *ngIf="recruiterJobPostingForm?.form && recruiterJobPostingForm.form.controls && recruiterJobPostingForm.form.controls.startDate?.valid " style="color: #C21F39">Start Date</span>
                                                <span [hidden]="!recruiterJobPostingForm.form.controls.startDate?.hasError('required')" style="color: #C21F39">Start Date is required.</span>
                                              </tooltip-content> -->
                                            </div>
                                           <!--  <span style="color:red" *ngIf="startDateFlag">Start Date is required.</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-100">
                                        <div class="form-group">
                                            <div class="input-group responsive_width_100">
                                                <div class="input-group-addon upto_border_none">Industry Sector</div>
                                                <select class="form-control minimal background_drop_down box_height_30 box_padding_3 padding_left_none" name="industrySector" [(ngModel)]="industrySector" required>
                                                    <option value="0">Industry Sector</option>
                                                    <option value="{{item?.id}}" *ngFor="let item of industryDataArray">{{item?.industry}}</option>
                                                    <!-- <option value="5">5124536</option>
                                                    <option value="10">10124536</option>
                                                    <option value="20">20124536</option> -->
                                                </select>
                                                <!-- <tooltip-content #industrySectorTooltip>
                                                <span *ngIf="recruiterJobPostingForm?.form && recruiterJobPostingForm.form.controls && recruiterJobPostingForm.form.controls.industrySector?.valid " style="color: #C21F39">Industry Sector</span>
                                                <span [hidden]="!recruiterJobPostingForm.form.controls.industrySector?.hasError('required')" style="color: #C21F39">Industry Sector is required.</span>
                                              </tooltip-content> -->
                                            </div>
                                            <!-- <span style="color:red" *ngIf="industrySectorFlag">Industry Sector is required.</span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-100">
                                        <div class="form-group">
                                            <div class="input-group responsive_width_100">
                                                <div class="input-group-addon upto_border_none padding_right_18px">Work Eligibility</div>
                                                <select class="form-control minimal background_drop_down box_height_30 box_padding_3 padding_left_none responsive_padding_right20" name="workEligibility" [(ngModel)]="workEligibility" required>
                                                    <option value="0">Choose Work Eligibility</option>
                                                    <option value="eu_only">Applicants must be eligible to work in the EU</option>
                                                    <option value="visa_welcomed">Applicants who require a visa welcomed</option>
                                                    <option value="visa_considered">Applicants who require a visa considered</option>
                                                </select>
                                                <!-- <tooltip-content #workEligibilityTooltip>
                                                <span *ngIf="recruiterJobPostingForm?.form && recruiterJobPostingForm.form.controls && recruiterJobPostingForm.form.controls.workEligibility?.valid " style="color: #C21F39">Work Eligibility</span>
                                                <span [hidden]="!recruiterJobPostingForm.form.controls.workEligibility?.hasError('required')" style="color: #C21F39">Work Eligibility is required.</span>
                                              </tooltip-content> -->
                                            </div>
                                            <!-- <span style="color:red" *ngIf="workEliFlag">Work Eligibility is required.</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="margin_bottom_30">
                                <div class="job_search_keywords">
                                    <h2>Location & Rates</h2>
                                </div>
                                <div class="row">
                                    <div class="col-sm-63">
                                        <div class="form-group responsive_margin35">
                                            <div class="input-group">
                                                <div class="input-group-addon"><img src="./assets/images/recruiter-city-pastcode.png" alt="Excluding" title="Excluding" class="img-responsive"></div>
                                                <!-- <input type="text" class="form-control box_height_30 box_padding_3" id="exampleInputEmail1" placeholder="City, Town or PostCode" name="cityTownValue" [(ngModel)]="cityTownValue" required> -->
                                                <input placeholder="City, Town or PostCode"  autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control box_height_30 box_padding_3" #search required>
                                                <!-- <div id="locationField">
                                                    <input id="autocomplete" placeholder="City, Town or PostCode"
                                                    onFocus="geolocate()" type="text"></input>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-36 col-xs-100">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon upto_border_none max-width100">Preferred Rate</div>
                                                <input type="text" class="form-control box_height_30 box_padding_3" id="exampleInputEmail1" placeholder="Rate Min (£)" name="minRate" [(ngModel)]="minRate" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-27 col-xs-100">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon upto_border_none max-width100">-</div>
                                                <input type="text" class="form-control box_height_30 box_padding_3" id="exampleInputEmail1" placeholder="Rate Max (£)" name="maxRate" [(ngModel)]="maxRate" [min]="minRate" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <span>(£)</span> -->
                                    <div class="col-sm-35 col-md-offset-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="daily_rate_part"></div>
                                                <input value="daily" id="prepaid" name="service_type" checked="" type="radio" [(ngModel)]="dailyHourlyValue">
                                                <label for="prepaid" class="radio-inline radio-inline-part  margin_top_11"><span></span> Daily Rate </label>
                                                <input value="hourly" id="postpaid" name="service_type" type="radio" [(ngModel)]="dailyHourlyValue">
                                                <label for="postpaid" class="radio-inline radio-inline-part margin_top_11"><span></span>Hourly Rate </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="margin_bottom_30">
                                <div class="job_search_keywords">
                                    <h2>Job Specification</h2>
                                </div>
                                <div class="row">
                                    <div class="col-sm-100">
                                        <div class="form-group paste_job_specification">
                                            <label>Paste Job Specification</label>
                                            <!-- <div class="textarea_header">
                                                <ul>
                                                    <li><a href="javascript:void(0);"><img src="./assets/images/text-bold.png" alt="" title=""></a></li>
                                                    <li><a href="javascript:void(0);"><img src="./assets/images/text-itl.png" alt="" title=""></a></li>
                                                    <li><a href="javascript:void(0);"><img src="./assets/images/text-underline.png" alt="" title=""></a></li>
                                                    <li><a href="javascript:void(0);"><img src="./assets/images/text-number.png" alt="" title=""></a></li>
                                                    <li><a href="javascript:void(0);"><img src="./assets/images/text-list.png" alt="" title=""></a></li>
                                                    <li><a href="javascript:void(0);"><img src="./assets/images/text-delete.png" alt="" title=""></a></li>
                                                </ul>
                                                <div class="text_box_hide"> <a href="javascript:void(0);"><i class="fa fa-angle-up" aria-hidden="true"></i></a> </div>
                                            </div> -->
                                            <!-- <div class="textarea_footer">
                                                <textarea type="text" class="form-control" rows="1" name="jobSpecificationTitle" [(ngModel)]="jobSpecificationTitle"> </textarea>
                                            </div>
                                            <div class="text_area_larg">
                                                <textarea class="form-control" rows="10" name="jobSpecificationBody" [(ngModel)]="jobSpecificationBody">body</textarea>
                                            </div> -->
                                            <!-- <div class="frola" id="previewFroala" [froalaEditor]="froalaOptionsPreview" name="previewContent"></div> -->
                                            <div [froalaEditor]="froalaOptionsPreview" [(froalaModel)]="jobSpecificationValue"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="margin_bottom_30">
                                <div class="job_search_keywords">
                                    <h2>Job Posting Specifics (optional)</h2>
                                </div>
                                <div class="row">
                                    <div class="col-sm-100">
                                        <div class="form-group">
                                            <div class="input-group responsive_width_100">
                                                <div class="input-group-addon upto_border_none">Recruiter Name</div>
                                                <select class="form-control minimal background_drop_down box_height_30 box_padding_3 padding_left_none" name="recruiterName" [(ngModel)]="recruiterName">
                                                    <!-- <option value="">Select Recruiter Name</option> -->
                                                    <option value="{{item?.recuriter_id}}" *ngFor="let item of recruiterNameArray">{{item?.recuriter_contact_name}}</option>
                                                    <!-- <option value="5">5124536</option>
                                                    <option value="10">10124536</option>
                                                    <option value="20">20124536</option> -->
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-50">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><img src="./assets/images/recruiter-templates-as-icon.png" alt="Job Reference Number" title="Job Reference Number" class="img-responsive"></div>
                                                <input type="text" class="form-control box_height_30 box_padding_3" id="exampleInputEmail1" placeholder="Save Template As" name="saveTemplateAs" [(ngModel)]="saveTemplateAs">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-50">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><img src="./assets/images/recruiter-templates-reference-icon.png" alt="Job Reference Number" title="Job Reference Number" class="img-responsive"></div>
                                                <input type="text" class="form-control box_height_30 box_padding_3" id="exampleInputEmail1" placeholder="Job Reference" name="jobReference" [(ngModel)]="jobReference">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="margin_top_30">
                                <div class="row">
                                    <div class="col-xs-50 col-sm-60">
                                        <div class="sign_up_left_side"> <a href="javascript:void(0);" [routerLink]="['../preview-job']" (click)="previewJob()" class="btn-primary hover_text_pink hover_white_pluse width_180px margin_bottom10xp">Preview <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i></a> </div>
                                    </div>
                                    <div class="col-xs-50 col-sm-40">
                                        <div class="sign_up_right_side"> 
                                            <!-- <a href="javascript:void(0);" class="btn-primary hover_text_pink hover_white_pluse width_180px">Post Job <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i></a>  -->
                                            <button type="submit" class="btn-primary hover_text_pink hover_white_pluse width_180px">Post Job <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--contractor login end-->
        </section>