<section id="min_height">
    <!--navigation top end-->
    <!--contractor login-->
    <div id="contractor-signup">
      <div class="container">
        <div class="row">
          <div class="col-sm-100">
            <div class="contractor_signup befourlogin_fontsize">
              <h2>webSIte information </h2>
			   
              
            </div>
          </div>
        </div>
        <div class="manage_top_buttons">
			   <ul>
			     <li class="active"><a href="javascript:void(0)">Terms of Use</a></li>
				 <li><a href="javascript:void(0)">Equal Opps</a></li>
				 <li><a href="javascript:void(0)">Work With Us</a></li>
				 <li><a href="javascript:void(0)">Cookies Policy</a></li>
				  <li><a href="javascript:void(0)">Privacy Policy</a></li>
				 <li><a href="javascript:void(0)">Security</a></li>
			   </ul>
			 </div>
      </div>
    </div>
    <!--contractor login end-->
	
	<div class="container">
<div class="panel-group trems_use_main signup_form_section" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Contractor Terms
		  <span class="glyphicon glyphicon-minus"></span>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle hover_text_pink" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Recruiter Terms
		   <span class="glyphicon glyphicon-plus text_pink"></span>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Company Details
		  <span class="glyphicon glyphicon-plus"></span>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in">
      <div class="panel-body">
	    <div class="our_company_detaills">
	     <h4>Our Company Details</h4>
          <p><span>Registered Company Name</span>:  &nbsp; &nbsp;  Contract Recruit Limited</p>
		  <p><span>Registered Address </span> :   &nbsp; &nbsp;  2 Upperton Gardens, Eastbourne, East Sussex, BN21 2AH</p>
		  <p><span>Registered Company Number</span>:  &nbsp; &nbsp;  07796094</p>
      </div>
	  </div>
    </div>
  </div>
</div>
</div>

  </section>