<div class="container">
  <div class="page_404_main">
  <div class="row table-cel">
    <div class="col-sm-13">
	<div class="page_404_left">
	<img src="images/logo-404.png" alt="ads" title="ads" class="img-responsive">
	</div>
	</div>
	<div class="col-sm-85 col-md-offset-2">
	  <div class="page_404_right">
	    <h1>Uh OH, Somethings Gone Wrong </h1>
		<p>We are experiencing some technical difficulties but don’t<br>
			worry we are currently making everything better.</p>
		<p><span>Please try again in a few minutes</span> or <a href="javascript:void(0)">Home</a></p>
	  </div>
	</div>
  </div>
  </div>
</div>