
          <div class="upload_cv_box">
            <div class="upload_contant_part">
              <h2 class="text_pink" routerLink="/public/advanced-search" style="cursor: pointer;">Find a contractor</h2>
              <p>Search the largest community of live IT Contractors in the UK, post contacts and find the perfect IT professional fast. </p>
              <a href="javascript:void(0)" class="btn-primary hover_text_pink" routerLink="../contact-us">REQUEST A DEMO <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i></a> </div>
            <div class="upload_contant_footer">
              <div class="row">
                <div class="col-sm-57">
                  <p>ALREADY HAVE AN ACCOUNT? <a href="javascript:void(0)" class="text_pink" routerLink="../recruiterLogin">LOGIN</a></p>
                </div>
                <div class="col-sm-43">
                  <p class="live_contracts"><span>{{contractorCount ? contractorCount : 'No'}}</span> LIVE CONTRACTORS</p>
                </div>
              </div>
            </div>
          </div>
       