<section>
            <div class="about_banner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-100">
                            <div id="contractor_about_us" class="contractor_signup">
                                <h2 class="font_capitalizs">About <span class="text_pink">Us</span></h2>
                                <ul class="breadcomb">
                                    <li><a href="javascript:void(0)" class="hover_text_pink">Home</a></li>
                                    <li class="right_arrow text_pink">&gt;</li>
                                    <li><a href="javascript:void(0)" class="hover_text_pink">Recruiter </a></li>
                                    <li class="right_arrow text_pink">&gt;</li>
                                    <li class="active">About Us </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-100">
                            <div class="contractor_about login_form_section border_color_pink">
                                <p>Find and attract the best IT contractors
                                    <br>using our unique, time-saving Functionality</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Recruit_what_is_contract">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-30">
                            <div class="roket"><img src="./assets/images/recruiter-buster.png" alt="ads" title="ads" class="img-responsive"></div>
                        </div>
                        <div class="col-sm-70" id="contractrecurit">
                            <div class="what_is_right">
                                <h2>WHat is contractRecruit?</h2>
                                <p><span><strong>Contract</strong>Recruit is more than just a job board, it’s access to a targeted community of the best IT Contract Professionals.</span></p>
                                <p>Our innovative application makes searching, locating and contacting the best IT Contractors in the UK easy. </p>
                                <a href="javascript:void(0);" [routerLink]="['/public/recruiterRegister']" class="btn-primary font_capitaliz hover_text_pink hover_white_pluse">SIGN UP NOW <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contractRecruit_slider about_recruiter_slider" id="whatdowedo">
                <h2>Why choose Contractrecruit?</h2>
                <div class="container">
                    <ul class="bxslider">
                        <li>
                            <div class="row">
                                <div class="col-sm-30 col-md-25 col-md-offset-5">
                                    <div class="left_icon">
                                        <img src="./assets/images/cv-database.png" alt="contracthub" title="contracthub" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-70 col-md-offset-10 col-md-60">
                                    <div class="slider_right_part">
                                        <h4 class="text_pink">CV Database</h4>
                                        <p><strong>Unlimited downloads</strong> on our extensive database of over
                                            <br> 25k IT Contractors. We are growing fast with 100’s of
                                            <br> unique candiates signing up every day.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-sm-30 col-md-25 col-md-offset-5">
                                    <div class="left_icon">
                                        <img src="./assets/images/ContractMap-icon.png" alt="ContractMap" title="ContractMap" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-70 col-md-offset-10 col-md-60">
                                    <div class="slider_right_part">
                                        <h4 class="text_pink">ContractMap</h4>
                                        <p>Using our unique and innovative ContractMap you can
                                            <br> see where a Contractor is willing to work and at what
                                            <br> rate saving all those wasted calls.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-sm-30 col-md-25 col-md-offset-5">
                                    <div class="left_icon">
                                        <img src="./assets/images/ContractTimer-icon.png" alt="contracthub" title="contracthub" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-70 col-md-offset-10 col-md-60">
                                    <div class="slider_right_part">
                                        <h4 class="text_pink">ContractTimer</h4>
                                        <p>Our <strong>Contract</strong>Timer will help show you exactly when an IT
                                            <br> Contractor is back on the market. Use our <strong>Watch</strong>List to
                                            <br> make sure you are first to catch them.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-sm-30 col-md-25 col-md-offset-5">
                                    <div class="left_icon">
                                        <img src="./assets/images/ContractTimer-icon.png" alt="contracthub" title="contracthub" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-70 col-md-offset-10 col-md-60">
                                    <div class="slider_right_part">
                                        <h4 class="text_pink">watchdogs</h4>
                                        <p>Match relevant candidates to jobs with our <strong>Watch</strong>Dog
                                            <br> functionality. As soon as they sign up you’ll get an email
                                            <br> with their CV and contact details.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-sm-30 col-md-25 col-md-offset-5">
                                    <div class="left_icon">
                                        <img src="./assets/images/ContractTimer-icon.png" alt="contracthub" title="contracthub" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-70 col-md-offset-10 col-md-60">
                                    <div class="slider_right_part">
                                        <h4 class="text_pink">Job Posting</h4>
                                        <p>Get <strong>unlimited job posting</strong> & <strong>targeted email sends</strong> to
                                            <br> find the perfect fit. With more contracts than any other
                                            <br> job board we attract the best candidates.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="what_is_Recruit how_are_you" id="whoarewe">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-70">
                            <div class="what_is_right responsiv_320">
                                <h2>Who are we?</h2>
                                <p>Our excellent, customer-focused team are based out of sunny Brighton on the South Coast of the UK. We have been helping IT Recruiters secure quality Contractors for the last 4 years and our mission has remained the same.</p>
                                <p><span>To help you find the perfect IT Contractor, at the best rate, in the ideal location.</span> </p>
                                <a href="javascript:void(0);" [routerLink]="['/public/contact-us']" class="btn-primary font_capitaliz hover_text_pink hover_white_pluse">CONTACT US <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="roket_arrow"><img src="./assets/images/recruiter-roket-arow.png" alt="ads" title="ads" class="img-responsive"></div>
            </div>
        </section>