<div class="our_contracthub_main">
  <div class="header_contracthub"> <img src="./assets/images/login-after-logo.png" alt="ads" title="ads" class="img-responsive">
    <h4>Find all the resources you need in our contract<span>hub</span></h4>
    <p>Make your contracting life easier with our our team of industry experts and our hand-picked partners that will bring you all the news, advice and services you need to be a success in the IT contracting market.</p>
  </div>
  <div class="contracthub_listine" routerLink="../advice">
    <a href="javascript:void(0)">
      <div class="row">
        <div class="col-md-offset-6 col-md-15 col-sm-20">
          <div class="contracthub_icon"> <img src="./assets/images/advance.png" alt="ads" title="ads" class="img-responsive"> </div>
        </div>
        <div class="col-md-79 col-sm-80">
          <div class="contracthub_advice" >
            <h4>ADVICE FOR IT CONTRACTORS</h4>
            <p>Whatever stage you are at our IT Contracting Advice will help you progress your IT career effortlessly. </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="contracthub_listine" routerLink="../news">
    <a href="javascript:void(0)">
      <div class="row">
        <div class="col-md-offset-6 col-md-15 col-sm-20">
          <div class="contracthub_icon"> <img src="./assets/images/it-news.png" alt="ads" title="ads" class="img-responsive"> </div>
        </div>
        <div class="col-md-79 col-sm-80">
          <div class="contracthub_advice" >
            <h4>IT CONTRACTOR NEWS</h4>
            <p>Get all the news on the IT Contract industry and tech related articles first with our IT Contractor News.</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="contracthub_listine" routerLink="../directory/1">
    <a href="javascript:void(0)">
      <div class="row">
        <div class="col-md-offset-6 col-md-15 col-sm-20">
          <div class="contracthub_icon"> <img src="./assets/images/it-services.png" alt="ads" title="ads" class="img-responsive"> </div>
        </div>
        <div class="col-md-79 col-sm-80">
          <div class="contracthub_advice" >
            <h4>IT CONTRACTOR SERVICES</h4>
            <p>Find trusted Contractor services made for you and make your Contracting life as simple as possible. </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="row">
    <div class="col-sm-100">
      <div class="upload_contant_part go_to_contracthub"> <a href="javascript:void(0)" (click)="goToContractorHub()" class="btn-primary">GO TO CONTRACTHUB <i class="fa fa-plus plus_blue" aria-hidden="true"></i></a> </div>
      <div class="contracthub_footer">
        <a href="https://www.facebook.com/ContractRecruit/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/+ContractrecruitCoUkCR" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/company/2600056?trk=tyah" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </div>
    </div>
  </div>
</div>
<!--  <section id="">
    <div id="contractor-login">
      <div class="container">
        <div class="row">
          <div class="col-sm-100">
            <div class="contractor_login">
              <h2 class="text-center font_size font_size_30"><span>SEARCH</span> CONTRACTHUB <span>AND FIND THE</span> ANSWERS <span>YOU NEED</span></h2>
            </div>
            <div class="login_form_section">
              <form>
                <div class="row">
                  <div class="col-sm-100">
                    <div class="form-group">
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="ENTER QUESTION, KEYWORD OR SUBJECT HERE...">
                    </div>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-sm-100">
                    <div class="form-group search_now_home"><a href="javascript:void(0)">SEARCH NOW <img src="./assets/images/search-now-icon.png" alt="search now" title="search now"></a> </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section> -->
