<div class="services_header"> <img src="./assets/images/contractor-services-icon.png" alt="" title=""> <span>CONTRACTOR SERVICES</span> <a href="javascript:void(0)"><img src="./assets/images/services-menu.png" alt="" title="" class="menu_bar"></a>
		    <div class="navigation_services">
			  <ul>
			    <li *ngFor="let category of categoryData" routerLink="../directory/{{category.contract_hub_category_id}}"><a href="javascript:void(0)">{{category.contract_hub_category_name}}</a></li>
				 <!-- <li><a href="javascript:void(0)">Insurance Providers</a></li>
				  <li><a href="javascript:void(0)">IT Training</a></li>
				   <li><a href="javascript:void(0)">Accountancy Services</a></li>
				    <li><a href="javascript:void(0)">Mortgage Solutions</a></li>
					 <li><a href="javascript:void(0)">CV Writing and Help</a></li>
					 <li><a href="javascript:void(0)">Working Abroad</a></li>
					  <li><a href="javascript:void(0)">MVL Advisors</a></li> -->
			  </ul>
			</div>
		   </div>