<section id="min_height">
  <div id="contractor-login">
    <div class="container">
      <div class="row">
        <div class="col-sm-100">
          <div class="contractor_login contractor_signup">
            <h2 style="color: #fff;">RECRUITER <span class="text_pink">RESET PASSWORD</span></h2>
            <ul class="breadcomb">
              <li class="text_pink"><a href="javascript:void(0)" routerLink="../../home">Home</a></li>
              <li class="right_arrow text_pink">&gt;</li>
              <li>Recruiter</li>
              <li class="right_arrow text_pink">&gt;</li>
              <li class="active">Reset Password</li>
            </ul>
          </div>
          <div class="alert alert-success margin-tp18" *ngIf="succesMessageFlag">
            <a href="javascript:void(0)" class="close" title="close" (click)="succesMessageFlag = false;">×</a> {{successMsg}}<strong>succesfully!</strong>
          </div>
          <div class="login_form_section">
            <div class="errorbox" *ngIf="(((f && f.form && f.form.controls && f.form.invalid) || f?.value?.password !== f?.value?.confirmPassword) && f.submitted && !ErrorMesageFlag) || ErrorMesageFlag"><b>The following error(s) occured:</b>
              <br>
              <li *ngIf="ErrorMesageFlag">{{errorMsg}}</li>
              <li *ngIf="f.form.controls.password?.hasError('required')">Password Required</li>
              <li *ngIf="f.form.controls.confirmPassword?.hasError('required')">Confirm Password Required</li>
              <li *ngIf="(f && f.value && f.value.password && f.value.confirmPassword && (f.value.password !== f.value.confirmPassword))">Password And Confirm Password Must Be Same</li>
              <!-- <li *ngIf="f.form.controls.email?.hasError('pattern')">Your Email/password are incorrect or your account has not been activated yet.</li>
              <li *ngIf="f.form.controls.password?.hasError('required')">Please enter a password.</li>
              <li *ngIf="f.form.controls.addNumber?.hasError('required')">Incorrect captcha code.</li>
              <li *ngIf="!f.form.controls.addNumber?.hasError('required') && totalInvalid">Incorrect captcha code.</li> -->
            </div>
            <form #f="ngForm" (ngSubmit)="onReset(f)">
              <div class="row">
                <div class="col-sm-50">
                  <div class="form-group">
                    <input type="password" name="password" class="form-control"  placeholder="Password" [(ngModel)]="password" required>
                  </div>
                </div>
                <div class="col-sm-50">
                  <div class="form-group">
                    <div class="input-group" style="width: 100%;">
                      <input type="text" style="width: 100%;" class="form-control" id="Password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" required onpaste="return false;">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                
                <div class="col-sm-50" style="text-align: right;">
                  <button type="submit" class="form_login btn-default background_pink" style="border:none;"> Reset <i class="fa fa-plus" aria-hidden="true"></i> </button>
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-100">
        <div class="login_form_section">
          <div class="registered_sectionlogin">
            <h2>Not Registered Yet? <span class="text_pink">Sign Up in Minutes.</span> Set up your profile now!</h2>
            <p>Sign up with ContractRecruit and gain access to all the best IT contractors on the market not to mention our industry-focused innovative functionality that will streamline the recruitment process and save valuable time.</p>
          </div>
          <div class="sign_up_right_side sign_up_right_side_login">
            <a href="javascript:void(0)" routerLink="./../recruiterRegister" class="btn-primary hover_text_pink hover_white_pluse">SIGN UP <i class="fa fa-plus plus_blue text_pink" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
