
          <div class="contractrecruit_banner contractor_footer_ad">
            <div id="brand-new">
              <h5>Brand New</h5>
            </div>
            <div class="green_logo"> <img src="./assets/images/ad-logo-homes.png" alt="ads" title="ads" class="img-responsive"> </div>
            <div class="contract_right_part">
              <ul>
                <li>SiMPLE</li>
                <li class="circle"><i class="fa fa-circle" aria-hidden="true"></i></li>
                <li>FAST</li>
                <li class="circle"><i class="fa fa-circle" aria-hidden="true"></i></li>
                <li>RELiABLE</li>
                <li class="circle"><i class="fa fa-circle" aria-hidden="true"></i></li>
                <li>SECURE</li>
              </ul>
              <p>Welcome our IT Contractor focused payroll solution that understands your needs brought to you by your ContractRecruit team. We make setting yourself up for work easy with our dedicated support team. Just get in touch on <span>01203 433433</span></p>
              <p class="find_out_more"> <a href="javascript:void(0)" class="">FIND OUT MORE <i class="fa fa-plus" aria-hidden="true"></i></a></p>
            </div>
            <div class="banner_find_out_more">
              <p><span>Take Home upto</span> 85% of your pay <span>on time every time with</span> ContractRecruit</p>
            </div>
          </div>
      