.contractor_signup h2 {
    color: #fff !important;
   }
   .contractRecruit_slider {
       margin-bottom: 40px;
}



.letest_news_footer {
    margin-left: 0;
}

.errorbox {
    border: 2px dashed #FF0066;
    color: #000;
    margin-bottom: 20px;
    padding: 10px;
    background: #E7EDEA;
    font-weight: normal;
}
.errorbox >b {
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
}
.errorbox > li {
    display: inline-block;
    background: #000;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    color: #ffffff;
}